// ======더벤티 연혁=======

// font
// @import "../font.scss";
@import "../font.css";

/* reset */
@import "../reset";

// mixin
@import "../mixin.scss";

// popup
.popup2 {
  @include popup2;
}
.popup3 {
  @include popup3;
}
//======= 1920px=======
header {
  @include header-1920;
  .select {
    color: #780997;
  }
}
aside {
  @include aside-1920;
}
//brand
.brand {
  width: 100%;
  height: 510px;
  background: url(../img/03brand/sv_1.png) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .br-content {
    color: #fff;
    text-align: center;
    h1 {
      font: 2.8rem/1 "geometos";
      letter-spacing: -1px;
      margin-bottom: 30px;
      animation-name: txtmoveUD;
      animation-duration: 0.5s;
      animation-timing-function: ease-in;
    }
    p {
      font: 1.12rem/1 "suitL";
      animation-name: txtmoveDU;
      animation-duration: 0.5s;
      animation-timing-function: ease-in;
    }
  }
}
//sub-nav
.sub-nav {
  width: 100%;
  height: 67px;
  border-bottom: 2px solid #ddd;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    li {
      height: 100%;
      padding: 0 28px;
      display: flex;
      align-items: center;
      &:hover {
        border-bottom: 3px solid #780997;
      }
      a {
        font: 1.12rem/1.2 "suitM";
        &:hover {
          color: #780997;
        }
      }
    }
    .active {
      color: #780997;
      border-bottom: 3px solid #780997;
    }
  }
}
// quick-menu
#quick-menu {
  @include quickmenu-1920;
}
// history
.history {
  padding: 100px 0;
  width: 100%;
  .history-wrap {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .history-title {
      text-align: center;
      margin-bottom: 70px;
      h3 {
        font: 500 2.6rem/1 "geometos";
        color: #780997;
        letter-spacing: -2px;
        animation-name: txtmoveUD;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
      }
      p {
        font: 1rem/1 "geometos";
        color: #666;
        margin-top: 30px;
        animation-name: txtmoveDU;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
      }
    }
    .history-container {
      position: relative;
      animation-name: txtmoveUD;
      animation-duration: 0.5s;
      animation-timing-function: ease-in;
      &::before {
        content: "";
        width: 1px;
        border-left: 1px solid #ddd;
        height: 100%;
        display: block;
        position: absolute;
        left: 50%;
        top: 10px;
      }
      .content {
        position: relative;
        text-align: left;
        display: flex;
        overflow: hidden;
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          border: 6px solid #fff;
          border-radius: 50%;
          background: #780997;
          position: absolute;
          left: 50.4%;
          top: 20px;
          margin: -5px 0 0 -15px;
        }
        .img-box {
          padding: 50px;
          text-align: center;
          width: 50%;
          .img {
            max-width: 410px;
            margin: 0 auto;
            p {
              text-align: left;
              font: 0.9rem/1.5 "noto";
              color: #780997;
              padding-left: 15px;
              margin-top: 5px;
              position: relative;
              &::before {
                content: "▶";
                font-size: 10px;
                position: absolute;
                top: 0;
                left: 0;
                line-height: 24px;
              }
            }
          }
        }
        .txt-box {
          width: 50%;
          float: left;
          padding-left: 50px;
          line-height: 1.4;
          h2 {
            font: 2.625rem/2 "geometos";
            color: #7b00a0;
            margin-bottom: 20px;
          }
          .inner-txt {
            .month {
              display: flex;
              gap: 15px;
              margin-bottom: 10px;
              h3 {
                width: 8%;
                font: 500 1rem/1 "noto";
                color: #222;
              }
              .inner-txt-detail {
                font: 1rem/1 "noto";
                color: #666;
                p {
                  margin-bottom: 8px;
                }
              }
            }
          }
        }
      }
      .content:not(:first-child) {
        margin-top: 60px;
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          border: 6px solid #fff;
          border-radius: 50%;
          background: #cacaca;
          position: absolute;
          left: 50.4%;
          top: 20px;
          margin: -5px 0 0 -15px;
        }
        .img-box {
          padding: 50px;
          text-align: center;
          width: 50%;
          .img {
            max-width: 410px;
            margin: 0 auto;
            p {
              text-align: left;
              font: 0.9rem/1.5 "noto";
              color: #780997;
              padding-left: 15px;
              margin-top: 5px;
              position: relative;
              &::before {
                content: "▶";
                font-size: 10px;
                position: absolute;
                top: 0;
                left: 0;
                line-height: 24px;
              }
            }
          }
        }
        .txt-box {
          width: 50%;
          float: left;
          padding-left: 50px;
          line-height: 1.4;
          h2 {
            font: 2.625rem/2 "geometos";
            color: #666;
            margin-bottom: 20px;
          }
          .inner-txt {
            .month {
              display: flex;
              gap: 15px;
              margin-bottom: 10px;
              h3 {
                width: 8%;
                font: 600 1rem/1 "noto";
                color: #222;
              }
              .inner-txt-detail {
                font: 1rem/1 "noto";
                color: #666;
                p {
                  margin-bottom: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}
// animation
@keyframes txtmoveUD {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes txtmoveDU {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
// footer
footer {
  @include footer-1920;
}

// ======1500px======
@media screen and (max-width: 1500px) {
  #quick-menu {
    @include quickmenu-1500;
  }
}

// ======1200px======
@media screen and (max-width: 1200px) {
  #quick-menu {
    display: none;
  }
  .sub-nav {
    width: 100%;
    height: 67px;
    border-bottom: 2px solid #ddd;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      li {
        height: 100%;
        padding: 0 28px;
        display: flex;
        align-items: center;
        &:hover {
          border-bottom: none;
        }
        a {
          font: 1.12rem/1.2 "suitM";
          &:hover {
            color: #780997;
          }
        }
      }
      .active {
        color: #780997;
        border-bottom: none;
      }
    }
  }
}

// ======1024px======
@media screen and (max-width: 1024px) {
  header {
    @include header-1024;
  }
  //brand
  .brand {
    .br-content {
      h1 {
        font: 1.64rem/1 "geometos";
        line-height: -1px;
        margin-bottom: 20px;
      }
      p {
        font: 0.95rem/1 "suitL";
      }
    }
  }
  //sub-nav
  .sub-nav {
    width: 100%;
    height: 46px;
    border-bottom: 2px solid #ddd;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      li {
        height: 100%;
        padding: 0 26px;
        display: flex;
        align-items: center;
        &:hover {
          border-bottom: none;
        }
        a {
          font: 1.05rem/1 "suitM";
          &:hover {
            color: #780997;
          }
        }
      }
      .active {
        color: #780997;
        border-bottom: none;
      }
    }
  }
  // history
  .history {
    padding: 50px 0;
    width: 100%;
    .history-wrap {
      position: relative;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      .history-title {
        text-align: center;
        margin-bottom: 40px;
        h3 {
          font: 500 1.46rem/1 "geometos";
          color: #780997;
          letter-spacing: -2px;
        }
        p {
          font: 0.95rem/1 "geometos";
          color: #666;
          margin-top: 20px;
        }
      }
      .history-container {
        &::before {
          content: "";
          width: 1px;
          border-left: 1px solid #ddd;
          height: 100%;
          display: block;
          position: absolute;
          left: 50%;
          top: 10px;
        }
        .content {
          .img-box {
            padding: 40px 30px 0px 20px;
            width: 50%;
            .img {
              max-width: 410px;
              margin: 0 auto;
              img {
                width: 100%;
              }
              p {
                text-align: left;
                font: 0.7rem/1.5 "noto";
                color: #780997;
                padding-left: 15px;
                margin-top: 5px;
                position: relative;
                &::before {
                  content: "▶";
                  font-size: 10px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  line-height: 15px;
                }
              }
            }
          }
          .txt-box {
            width: 50%;
            float: left;
            padding-left: 30px;
            line-height: 1.4;
            h2 {
              font: 2.25rem/2 "geometos";
              color: #7b00a0;
              margin-bottom: 10px;
            }
            .inner-txt {
              .month {
                width: 100%;
                display: flex;
                gap: 15px;
                h3 {
                  font: 500 0.8rem/1 "noto";
                  color: #222;
                }
                .inner-txt-detail {
                  font: 0.74rem/1 "noto";
                  color: #666;
                  p {
                    margin-bottom: 6px;
                  }
                }
              }
            }
          }
        }
        .content:not(:first-child) {
          margin-top: 60px;
          &::before {
            content: "";
            width: 10px;
            height: 10px;
            border: 6px solid #fff;
            border-radius: 50%;
            background: #cacaca;
            position: absolute;
            left: 50.4%;
            top: 20px;
            margin: -5px 0 0 -15px;
          }
          .img-box {
            padding: 40px 30px 0px 20px;
            width: 50%;
            .img {
              max-width: 410px;
              margin: 0 auto;
              img {
                width: 100%;
              }
              p {
                text-align: left;
                font: 0.7rem/1.5 "noto";
                color: #780997;
                padding-left: 15px;
                margin-top: 5px;
                position: relative;
                &::before {
                  content: "▶";
                  font-size: 10px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  line-height: 15px;
                }
              }
            }
          }
          .txt-box {
            width: 50%;
            float: left;
            padding-left: 30px;
            line-height: 1.4;
            h2 {
              font: 2.25rem/2 "geometos";
              color: #666;
              margin-bottom: 10px;
            }
            .inner-txt {
              .month {
                display: flex;
                gap: 18px;
                margin-bottom: 10px;
                h3 {
                  width: 10%;
                  font: 500 0.8rem/1 "noto";
                  color: #222;
                }
                .inner-txt-detail {
                  font: 0.74rem/1 "noto";
                  color: #666;
                  p {
                    margin-bottom: 6px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // footer
  footer {
    @include footer-1024;
  }
}

// ======768px======
@media screen and (max-width: 768px) {
  // history
  .history {
    padding: 50px 0;
    width: 100%;
    .history-wrap {
      position: relative;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      .history-title {
        text-align: center;
        margin-bottom: 40px;
        h3 {
          font: 500 1.46rem/1 "geometos";
          color: #780997;
          letter-spacing: -2px;
        }
        p {
          font: 0.95rem/1 "geometos";
          color: #666;
          margin-top: 20px;
        }
      }
      .history-container {
        &::before {
          content: "";
          width: 1px;
          border-left: 1px solid #ddd;
          height: 100%;
          display: block;
          position: absolute;
          left: 36%;
          top: 10px;
        }
        .content {
          &::before {
            content: "";
            width: 10px;
            height: 10px;
            border: 6px solid #fff;
            border-radius: 50%;
            background: #780997;
            position: absolute;
            left: 36.5%;
            top: 20px;
            margin: -5px 0 0 -15px;
          }
          .img-box {
            padding: 40px 30px 0px 20px;
            width: 36%;
            .img {
              max-width: 410px;
              margin: 0 auto;
              img {
                width: 100%;
              }
              p {
                text-align: left;
                font: 0.7rem/1.5 "noto";
                color: #780997;
                padding-left: 15px;
                margin-top: 5px;
                position: relative;
                &::before {
                  content: "▶";
                  font-size: 10px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  line-height: 15px;
                }
              }
            }
          }
          .txt-box {
            width: 64%;
            float: left;
            padding-left: 30px;
            line-height: 1.4;
            h2 {
              font: 2.25rem/2 "geometos";
              color: #7b00a0;
              margin-bottom: 10px;
            }
            .inner-txt {
              width: 100%;
              padding-right: 10px;
              .month {
                width: 100%;
                display: flex;
                gap: 15px;
                h3 {
                  font: 500 0.8rem/1 "noto";
                  color: #222;
                }
                .inner-txt-detail {
                  font: 0.74rem/1 "noto";
                  color: #666;
                  p {
                    margin-bottom: 8px;
                  }
                }
              }
            }
          }
        }
        .content:not(:first-child) {
          margin-top: 30px;
          &::before {
            content: "";
            width: 10px;
            height: 10px;
            border: 6px solid #fff;
            border-radius: 50%;
            background: #cacaca;
            position: absolute;
            left: 50.4%;
            top: 20px;
            margin: -5px 0 0 -15px;
          }
          &::before {
            content: "";
            width: 10px;
            height: 10px;
            border: 6px solid #fff;
            border-radius: 50%;
            background: #cacaca;
            position: absolute;
            left: 36.5%;
            top: 20px;
            margin: -5px 0 0 -15px;
          }
          .img-box {
            padding: 40px 30px 0px 20px;
            width: 36%;
            .img {
              max-width: 410px;
              margin: 0 auto;
              img {
                width: 100%;
              }
              p {
                text-align: left;
                font: 0.7rem/1.5 "noto";
                color: #780997;
                padding-left: 15px;
                margin-top: 5px;
                position: relative;
                &::before {
                  content: "▶";
                  font-size: 10px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  line-height: 15px;
                }
              }
            }
          }
          .txt-box {
            width: 64%;
            float: left;
            padding-left: 30px;
            line-height: 1.4;
            h2 {
              font: 2.25rem/2 "geometos";
              color: #7b00a0;
              margin-bottom: 10px;
            }
            .inner-txt {
              padding-right: 20px;
              width: 100%;
              .month {
                width: 100%;
                display: flex;
                gap: 15px;
                h3 {
                  font: 500 0.8rem/1 "noto";
                  color: #222;
                }
                .inner-txt-detail {
                  font: 0.74rem/1 "noto";
                  color: #666;
                  p {
                    margin-bottom: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// ======576px======
@media screen and (max-width: 576px) {
  aside {
    @include aside-576;
  }
  // brand
  .brand {
    width: 100%;
    height: 350px;
    .br-content {
      color: #fff;
      text-align: center;
      h1 {
        font: 1.45rem/1 "geometos";
        letter-spacing: -1px;
        margin-bottom: 18px;
      }
      p {
        padding: 0 10px;
        font: 0.81rem/1 "suitL";
      }
    }
  }
  //sub-nav
  .sub-nav {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #ddd;
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      padding: 0 15px;
      li {
        height: 100%;
        padding: 0 0px;
        display: flex;
        align-items: center;
        &:hover {
          border-bottom: none;
        }
        a {
          font: 0.88rem/1.2 "suitM";
          &:hover {
            color: #780997;
          }
        }
      }
      .active {
        color: #780997;
        border-bottom: none;
      }
    }
  }
  // history
  .history {
    padding: 50px 0px;
    width: 100%;
    .history-wrap {
      position: relative;
      width: 100%;
      margin: 0 auto;
      .history-title {
        text-align: center;
        margin-bottom: 25px;
        h3 {
          font: 500 1.46rem/1 "geometos";
          color: #780997;
          letter-spacing: -2px;
        }
        p {
          font: 0.95rem/1 "geometos";
          color: #666;
          margin-top: 20px;
        }
      }
      .history-container {
        // padding: 0 20px;
        &::before {
          content: "";
          width: 1px;
          border-left: 1px solid #ddd;
          height: 100%;
          display: block;
          position: absolute;
          left: 20px;
          top: 10px;
        }
        .content {
          position: relative;
          text-align: left;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          &::before {
            content: "";
            width: 7px;
            height: 7px;
            border: 6px solid #fff;
            border-radius: 50%;
            background: #780997;
            position: absolute;
            left: 26px;
            top: 20px;
            margin: -5px 0 0 -15px;
          }
          .img-box {
            padding: 0 20px;
            text-align: center;
            width: 100%;
            .img {
              width: 330px;
              margin: 5px auto;
              p {
                text-align: left;
                font: 0.75rem/1.5 "noto";
                color: #780997;
                padding-left: 15px;
                margin-top: 5px;
                position: relative;
                &::before {
                  content: "▶";
                  font-size: 10px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  line-height: 18px;
                }
              }
            }
          }
          .txt-box {
            width: 100%;
            padding: 0 30px;
            line-height: 1.4;
            h2 {
              font: 2.1rem/2 "geometos";
              color: #7b00a0;
              margin-bottom: 10px;
            }
            .inner-txt {
              padding-right: 0;
              width: 100%;
              .month {
                width: 100%;
                display: flex;
                gap: 10px;
                h3 {
                  width: 10%;
                  font: 500 0.8rem/1 "noto";
                  color: #222;
                }
                .inner-txt-detail {
                  font: 0.74rem/1 "noto";
                  color: #666;
                  p {
                    margin-bottom: 6px;
                  }
                }
              }
            }
          }
        }
        .content:not(:first-child) {
          margin-top: 30px;
          &::before {
            content: "";
            width: 7px;
            height: 7px;
            border: 6px solid #fff;
            border-radius: 50%;
            background: #666;
            position: absolute;
            left: 26px;
            top: 20px;
            margin: -5px 0 0 -15px;
          }
          .img-box {
            padding: 0 20px;
            text-align: center;
            width: 100%;
            .img {
              width: 330px;
              margin: 5px auto;
              p {
                text-align: left;
                font: 0.75rem/1.5 "noto";
                color: #780997;
                padding-left: 15px;
                margin-top: 5px;
                position: relative;
                &::before {
                  content: "▶";
                  font-size: 10px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  line-height: 18px;
                }
              }
            }
          }
          .txt-box {
            width: 100%;
            padding: 0 30px;
            line-height: 1.4;
            h2 {
              font: 2.1rem/2 "geometos";
              color: #666;
              margin-bottom: 10px;
            }
            .inner-txt {
              padding-right: 0;
              width: 100%;
              .month {
                width: 100%;
                display: flex;
                gap: 10px;
                h3 {
                  width: 10%;
                  font: 500 0.8rem/1 "noto";
                  color: #222;
                }
                .inner-txt-detail {
                  font: 0.74rem/1 "noto";
                  color: #666;
                  p {
                    margin-bottom: 6px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
