// =======BI소개=======

// font
@import "../font.scss";

/* reset */
@import "../reset.scss";

// mixin
@import "../mixin.scss";

header {
  @include header-1920;
}

#mobile-menu {
  @include aside-1920;
}

/* custom  */
//brand
.brand {
  width: 100%;
  height: 510px;
  background: url(../img/03brand/sv_1.png) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .br-content {
    color: #fff;
    text-align: center;
    h1 {
      font: bold 2.8rem/1 "geometos";
      line-height: -1px;
      margin-bottom: 19px;
    }
    p {
      font: 1.12rem/1 "suitL";
    }
  }
}
//sub-nav
.sub-nav {
  width: 100%;
  height: 67px;
  border-bottom: 2px solid #ddd;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    li {
      padding: 21px 30px;
      font: 1.12rem/1.2 "suitM";
      color: #333;
      transition: all 0.3s;
      &:hover {
        color: #780997;
        border-bottom: 3px solid #780997;
      }
    }
  }
}
.active a {
  color: #780997;
}
//bi-content
.bi-content {
  width: 100%;
  height: 1105px;
  .bi-section {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 160px;
    .bi-content-top {
      display: flex;
      gap: 68px;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      h1 {
        font: bold 2rem/0.8 "suitB";
      }
      .bi-logo-text {
        display: flex;
        flex-direction: column;
        gap: 25px;
        p {
          &:nth-child(1) {
            font: 600 0.9375rem/1 "noto";
            color: #111;
          }
          &:nth-child(2) {
            font: 200 0.9375rem/1 "noto";
            color: #666;
          }
        }
      }
    }
    .bi-content-botoom {
      display: flex;
      gap: 40px;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      h2 {
        font: bold 2rem/0.8 "suitB";
      }
      .bi-symbol-text {
        font: 600 0.9375rem/1 "noto";
        color: #111;
      }
      .symbol-items {
        display: flex;
        gap: 35px;
        .symbol-item1 {
          display: flex;
          flex-direction: column;
          gap: 16px;
          span {
            width: 65px;
            height: 65px;
            background: #7b00a0;
          }
          p {
            font: 0.9rem/1 "suitM";
            color: #666;
          }
        }
        .symbol-item2 {
          display: flex;
          flex-direction: column;
          gap: 16px;
          span {
            width: 65px;
            height: 65px;
            background: #ff5b28;
          }
          p {
            font: 0.9rem/1 "suitM";
            color: #666;
          }
        }
        .symbol-item3 {
          display: flex;
          flex-direction: column;
          gap: 16px;
          span {
            width: 65px;
            height: 65px;
            background: #291b35;
          }
          p {
            font: 0.9rem/1 "suitM";
            color: #666;
          }
        }
        .symbol-item4 {
          display: flex;
          flex-direction: column;
          gap: 16px;
          span {
            width: 65px;
            height: 65px;
            background: #e9e8e8;
          }
          p {
            font: 0.9rem/1 "suitM";
            color: #666;
          }
        }
      }
    }
  }
}

// quick-menu
#quick-menu {
  @include quickmenu-1920;
}

// footer
footer {
  @include footer-1920;
}

// ======1500px======
@media screen and (max-width: 1500px) {
  #quick-menu {
    @include quickmenu-1500;
  }
}

// ======1200px======
@media screen and (max-width: 1200px) {
  // quick-menu
  #quick-menu {
    display: none;
  }
}
