// =====찾아오시는길======

// font
@import "../font.scss";

/* reset */
@import "../reset.scss";

// mixin
@import "../mixin.scss";

header {
  @include header-1920;
}

#mobile-menu {
  @include aside-1920;
}

/* custom  */

.header {
  width: 100%;
  height: 91px;
}

//brand
.brand {
  width: 100%;
  height: 510px;
  background: url(../img/03brand/sv_1.png) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .br-content {
    color: #fff;
    text-align: center;
    h1 {
      font: bold 2.8rem/1 "geometos";
      line-height: -1px;
      margin-bottom: 19px;
    }
    p {
      font: 1.12rem/1 "suitL";
    }
  }
}
//sub-nav
.sub-nav {
  width: 100%;
  height: 67px;
  border-bottom: 2px solid #ddd;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    li {
      padding: 21px 30px;
      font: 1.12rem/1.2 "suitM";
      color: #333;
      transition: all 0.3s;
      &:hover {
        color: #780997;
        border-bottom: 3px solid #780997;
      }
    }
  }
}
.active a {
  color: #780997;
}
//map-contents
.map-view {
  width: 100%;
  height: 1110px;
  display: flex;
  justify-content: center;
  align-items: center;
  .map-contents {
    width: 70%;
    max-width: 1300px;
    height: 710px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .map-left {
      width: 550px;
      height: 710px;
      border-top: 3px solid #780997;
      box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.3);
      display: flex;
      gap: 30px;
      flex-direction: column;
      align-items: center;
      .map-left-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 40px;
        h3 {
          font: 600 1.19rem/1 "suitB";
          color: #222;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: -15px;
            left: 50%;
            width: 20px;
            height: 2px;
            background: #780997;
          }
        }
        p {
          font: 200 0.9375rem/1 "noto";
          color: #666;
        }
      }
      .map01 {
        width: 90%;
        height: 500px;
        border: 1px solid #ddd;
      }
    }
    .map-right {
      width: 550px;
      height: 710px;
      border-top: 3px solid #780997;
      box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.3);
      display: flex;
      gap: 30px;
      flex-direction: column;
      align-items: center;
      .map-right-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 40px;
        h3 {
          font: 600 1.19rem/1 "suitB";
          color: #222;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: -15px;
            left: 50%;
            width: 20px;
            height: 2px;
            background: #780997;
          }
        }
        p {
          font: 200 0.9375rem/1 "noto";
          color: #666;
        }
      }
      .map02 {
        width: 90%;
        height: 500px;
        border: 1px solid #ddd;
      }
    }
  }
}

// quick-menu
#quick-menu {
  @include quickmenu-1920;
}

// footer
footer {
  @include footer-1920;
}

// ======1500px======
@media screen and (max-width: 1500px) {
  #quick-menu {
    @include quickmenu-1500;
  }
}

// ======1200px======
@media screen and (max-width: 1200px) {
  // quick-menu
  #quick-menu {
    display: none;
  }
}
