@import "../../reset.css";
@import "../../font.css";
@import "./reset.css";
@import "./font.css";
body {
  font-size: 16px;
  overflow-x: hidden;
}
body .wrap {
  width: 100%;
  height: 100%;
}
body .wrap header {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 90px;
}
body .wrap header #fixed-header-wrap {
  display: flex;
  justify-content: center;
  width: 1920px;
}
body .wrap header #fixed-header-wrap #fixed-header {
  border-bottom: 1px solid #ddd;
  top: 0;
  position: fixed;
  background: #fff;
  width: 100%;
  max-height: 91px;
}
body .wrap header #fixed-header-wrap #fixed-header #header-container-wrap {
  width: 1360px;
  margin: 0 auto;
}
body .wrap header #fixed-header-wrap #fixed-header #header-container-wrap #header-container {
  font-family: geometos;
  width: 100%;
  max-height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
body .wrap header #fixed-header-wrap #fixed-header #header-container-wrap #header-container #logogif {
  max-width: 189px;
  height: 90px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
body .wrap header #fixed-header-wrap #fixed-header #header-container-wrap #header-container #logogif .logogif img {
  width: 100%;
  height: 47%;
}
body .wrap header #fixed-header-wrap #fixed-header #header-container-wrap #header-container #header-nav {
  width: 58.3985%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrap header #fixed-header-wrap #fixed-header #header-container-wrap #header-container #header-nav .nav-items {
  position: relative;
  font-size: 1.25rem;
  padding: 0 3.84%;
  color: #333;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
body .wrap header #fixed-header-wrap #fixed-header #header-container-wrap #header-container #header-nav .nav-items::before {
  content: "";
  bottom: 0%;
  position: absolute;
  width: 0%;
  height: 4px;
  background: #780997;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s;
}
body .wrap header #fixed-header-wrap #fixed-header #header-container-wrap #header-container #header-nav .nav-items:hover::before {
  width: 100%;
}
body .wrap header #fixed-header-wrap #fixed-header #header-container-wrap #header-container #header-nav .nav-items:hover {
  color: #780997;
}
body .wrap header #fixed-header-wrap #fixed-header #header-container-wrap #header-container #logo-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.23%;
  background: #780997;
  max-height: 54.4%;
  border-radius: 35px;
  padding: 0 22.5px;
  transition: all 0.3s;
}
body .wrap header #fixed-header-wrap #fixed-header #header-container-wrap #header-container #logo-back:hover {
  background: #000;
}
body .wrap header #fixed-header-wrap #fixed-header #header-container-wrap #header-container #logo-back a p {
  font-size: 1.125rem;
  text-align: center;
  color: #fff;
  font-family: noto500;
  font-weight: 600;
}
body .wrap header #fixed-header-wrap #fixed-header #header-container-wrap #header-container #logo-back .logo-back img {
  width: 26px;
  height: 20px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}
body .wrap header .button-nav {
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  text-align: center;
  height: 60px;
  width: 60px;
  color: #222;
  font-size: 2rem;
  border: none;
  display: none;
  background: none;
  cursor: pointer;
}
body .wrap header .button-nav .toggle-button {
  font-family: xeicon !important;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
body .wrap header .button-nav .toggle-button::before {
  content: "\e91c";
}
body .wrap header #dropdown {
  transition: all 1s linear;
  width: 100%;
  height: 462.73px;
  display: none;
  color: #666;
  font-family: suitM;
  position: fixed;
  top: 91px;
  background: #fff;
}
body .wrap header #dropdown #dropdown-container {
  display: flex;
  height: 100%;
  width: 1360px;
  margin: 0 auto;
}
body .wrap header #dropdown #dropdown-container #dropdown-img img {
  width: 282px;
  height: 300px;
  margin-right: 19px;
}
body .wrap header #dropdown #dropdown-container #dropdown-list {
  width: 58.3985%;
  display: flex;
  font-size: 0.9375rem;
}
body .wrap header #dropdown #dropdown-container #dropdown-list div {
  text-align: center;
  flex: 1;
  margin-top: 17px;
  padding: 0 10px 10px 0px;
}
body .wrap header #dropdown #dropdown-container #dropdown-list a {
  padding: 10px 0 0 10px;
  margin-bottom: 4px;
}
body .wrap header #dropdown #dropdown-container #dropdown-list a:hover {
  color: #780997;
}
body .wrap header #dropdown #dropdown-container #dropdown-list #brand-list {
  flex: 0.5;
  display: flex;
  flex-direction: column;
}
body .wrap header #dropdown #dropdown-container #dropdown-list #brand-list a {
  margin-left: 20px;
  width: 100%;
}
body .wrap header #dropdown #dropdown-container #dropdown-list #menu-list {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  flex: 0.9;
}
body .wrap header #dropdown #dropdown-container #dropdown-list #store-list {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}
body .wrap header #dropdown #dropdown-container #dropdown-list #membership-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}
body .wrap header #dropdown #dropdown-container #dropdown-list #community-list {
  display: flex;
  flex-direction: column;
}
body .wrap .notice-figuer {
  width: 100%;
  height: 510px;
  background: url("../../img/04community/bg/community-bg.png") center/cover no-repeat;
}
body .wrap .notice-figuer .volun-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  height: 100%;
  color: #fff;
}
body .wrap .notice-figuer .volun-title h1 {
  font: 600 2.8125rem "geometos";
}
body .wrap .notice-figuer .volun-title p {
  font: 1.125rem "suitL";
}
body .wrap .notice-nav {
  width: 100%;
  height: 68px;
  border-bottom: 1px solid #ddd;
}
body .wrap .notice-nav .volun-bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
body .wrap .notice-nav .volun-bar ul {
  display: flex;
}
body .wrap .notice-nav .volun-bar ul li a {
  display: inline-flex;
  align-items: center;
  padding: 0 1.5625em;
  height: 4.25rem;
  font: 1.125rem "suitM";
  border-bottom: 2.5px solid transparent;
}
body .wrap .notice-nav .volun-bar ul li a:hover {
  transform: translateY(-1px);
  color: #780997;
  border-bottom: 2.5px solid #780997;
}
body .wrap .notice-nav .volun-bar ul .active {
  display: inline-flex;
  color: #780997;
  border-bottom: 2.5px solid #780997;
}
body .wrap .notice-container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
body .wrap .notice-container .notice-nav {
  width: 50%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
}
body .wrap .notice-container .notice-nav a {
  display: inline-block;
  width: 50%;
  height: 100%;
  font: bold 1.125rem/48px "noto";
  text-align: center;
  background: #e6deda;
}
body .wrap .notice-container .notice-nav a.active {
  color: #fff;
  background: #36252f;
}
body .wrap .notice-container .notice-select {
  width: 100%;
  height: 100%;
  text-align: right;
  margin-bottom: 30px;
}
body .wrap .notice-container .notice-select select {
  width: 16.66%;
  height: 54px;
  outline: none;
  border: 1px solid #ddd;
  font: 1rem "noto";
  padding: 0 22px 0 10px;
}
body .wrap .notice-container .notice-title {
  border-top: 1px solid #7b00a0;
}
body .wrap .notice-container .notice-contents,
body .wrap .notice-container .notice-title {
  width: 100%;
  height: 100%;
}
body .wrap .notice-container .notice-contents .notice-content,
body .wrap .notice-container .notice-title .notice-content {
  display: flex;
  border-bottom: 1px solid #ddd;
}
body .wrap .notice-container .notice-contents .notice-content li,
body .wrap .notice-container .notice-title .notice-content li {
  height: 52px;
  text-align: center;
  font: 1rem/52px "noto";
  color: #666;
}
body .wrap .notice-container .notice-contents .notice-content li:nth-child(1),
body .wrap .notice-container .notice-title .notice-content li:nth-child(1) {
  width: 8%;
}
body .wrap .notice-container .notice-contents .notice-content li:nth-child(2),
body .wrap .notice-container .notice-title .notice-content li:nth-child(2) {
  width: 10%;
}
body .wrap .notice-container .notice-contents .notice-content li:nth-child(3),
body .wrap .notice-container .notice-title .notice-content li:nth-child(3) {
  width: 55%;
}
body .wrap .notice-container .notice-contents .notice-content li:nth-child(3).action,
body .wrap .notice-container .notice-title .notice-content li:nth-child(3).action {
  text-align: left;
}
body .wrap .notice-container .notice-contents .notice-content li:nth-child(3) a,
body .wrap .notice-container .notice-title .notice-content li:nth-child(3) a {
  cursor: pointer;
}
body .wrap .notice-container .notice-contents .notice-content li:nth-child(3) a:hover,
body .wrap .notice-container .notice-title .notice-content li:nth-child(3) a:hover {
  color: #7b00a0;
  text-decoration: underline;
}
body .wrap .notice-container .notice-contents .notice-content li:nth-child(4),
body .wrap .notice-container .notice-title .notice-content li:nth-child(4) {
  width: 12%;
}
body .wrap .notice-container .notice-contents .notice-content li:nth-child(5),
body .wrap .notice-container .notice-title .notice-content li:nth-child(5) {
  width: 15%;
}
body .wrap .notice-container .notice-contents .title,
body .wrap .notice-container .notice-title .title {
  cursor: default;
  border-bottom: 1px solid #ddd;
}
body .wrap .notice-container .notice-contents .title li,
body .wrap .notice-container .notice-title .title li {
  font: 600 1rem/52px "noto";
  color: #333;
}
body .wrap .notice-container .volun-pages {
  width: 100%;
  height: 34px;
  margin: 50px 0 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
body .wrap .notice-container .volun-pages .prevent-next {
  width: 34px;
  height: 34px;
}
body .wrap .notice-container .volun-pages .prevent-next img {
  width: 100%;
  height: 100%;
}
body .wrap .notice-container .volun-pages .page {
  width: 34px;
  height: 34px;
  text-align: center;
  border: 1px solid #000;
  font: 1rem/30px "noto";
}
body .wrap .notice-container .volun-search {
  width: 100%;
  height: 82px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 150px;
}
body .wrap .notice-container .volun-search form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
body .wrap .notice-container .volun-search form #find {
  width: 8.3%;
  height: 40px;
  border: 1px solid #ddd;
  outline: none;
  font: 1rem "noto";
}
body .wrap .notice-container .volun-search form .search {
  width: 20%;
  height: 40px;
  border: 1px solid #ddd;
  outline: none;
  padding: 0 5px;
  font: 1rem "noto";
}
body .wrap .notice-container .volun-search form .search-button {
  width: 7.5%;
  height: 40px;
  border: 1px solid #ddd;
  cursor: pointer;
  font: 1rem "noto";
}
body .wrap #quick-menu {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 0;
}
body .wrap #quick-menu ul {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
body .wrap #quick-menu ul li {
  font-family: nanum;
  color: #fff;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  background: #291b35;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 30px;
  transition: all 0.3s;
}
body .wrap #quick-menu ul li:last-child {
  background: #7b00a0;
}
body .wrap #quick-menu ul li:hover {
  background: #7b00a0;
}
body .wrap #quick-menu ul li a {
  text-align: center;
}
body .wrap #quick-menu ul li a .quick-tit {
  font-size: 0.875rem;
  margin-bottom: 4px;
}
body .wrap #quick-menu ul li a .quick-tel {
  text-align: center;
  font-size: 1.25rem;
}
body .wrap footer {
  position: relative;
  width: 100%;
  height: 426px;
  background: #2c0039;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}
body .wrap footer::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 39%;
  background: #ccc;
}
body .wrap footer #footer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
}
body .wrap footer #footer-wrap #footer-container-wrap {
  width: 1360px;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-top {
  position: absolute;
  width: 100%;
  max-width: 1360px;
  height: 55px;
  display: flex;
  top: 13.2%;
  justify-content: space-between;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-top .footer-logo {
  width: 220.5px;
  height: 38.25px;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-top .footer-logo img {
  width: 100%;
  height: 100%;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-top .footer-info {
  font-family: suitM;
  display: flex;
  color: #fff;
  font-size: 1.125rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-top .footer-info p {
  margin-right: 16px;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-top .footer-sns img {
  transition: all 0.3s;
  margin-right: 5px;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-top .footer-sns img:hover {
  filter: grayscale(100%);
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-bottom {
  display: flex;
  width: inherit;
  height: 146px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 47.5233%;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-bottom .footer-tel {
  font-family: geometos;
  font-size: 1.875rem;
  color: #ff5b28;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-bottom .footer-tel p {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-bottom .footer-tel p span {
  margin-right: 10px;
  font-size: 1.125rem;
  font-family: suitL;
  color: #fff;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-bottom .footer-text .footer-text-middle {
  display: flex;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-bottom .footer-text .footer-text-middle p {
  margin-right: 10px;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-bottom .footer-text .footer-text-end {
  margin-top: 20px;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-bottom .footer-text p {
  margin-bottom: 4px;
  font-family: suitL;
  color: #ccc;
  font-size: 1.125rem;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-bottom .footer-text p span {
  font-family: suitM;
  color: #fff;
  font-size: 1.125rem;
  margin-right: 20px;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-bottom .footer-icon {
  width: 122.75px;
  height: 49px;
  border-radius: 35px;
  background: #ff5b28;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-bottom .footer-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-bottom .footer-icon a p {
  font-family: noto500;
  font-weight: bold;
  font-size: 1.125rem;
  color: #fff;
  margin-right: 5px;
}
body .wrap footer #footer-wrap #footer-container-wrap #footer-container-bottom .footer-icon a img {
  width: 26px;
  height: 20px;
}/*# sourceMappingURL=notice.css.map */