@import 'reset';
@import 'font';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
header {
  width: 100%;
  height: 90px;
  border: 1px solid #000;
}
.menu-main {
  width: 100%;
  height: 510px;
  background: url('./img/02menuImg/menuBg.png') center/cover no-repeat;
  .heading {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    .title {
      font: 600 2.8125rem/1.2 'geometos';
      letter-spacing: -0.0706rem;
    }
    p {
      font: 300 1.125rem/1.6 'suitL';
    }
  }
}
.menu-nav {
  width: 100%;
  height: 68px;
  margin: 0 auto;
  border-bottom: 1px solid #dddddd;
  ul {
    margin: 0 auto;
    text-align: center;
    li {
      display: inline-block;
      padding: 0 28.125px;
      a {
        font: 1.125rem/3.6389 'suitM';
        color: #333;
      }
      &:hover {
        border-bottom: 2.5px solid #780997;
        a {
          color: #780997;
        }
      }
    }
  }
}
.menu-wrap {
  width: 1200px;
  padding: 100px 0 150px;
  margin: 0 auto;
  .tab {
    width: 100%;
    margin-bottom: 50px;
    &-inner {
      width: 100%;
      overflow: hidden;
      li {
        &.active {
          background: #36252f;
          color: #fff;
        }
        width: 300px;
        width: 25%;
        height: 48px;
        float: left;
        text-align: center;
        background: #e6deda;
        font: 500 1rem/3 'noto';
        color: #222;
        letter-spacing: -0.03125rem;
      }
    }
  }
  .menu-list {
    width: 100%;
    .list-inner {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      display: none;
      &.active {
        display: flex;
      }
      .list-item {
        width: calc((100% - 30px) / 4);
        height: 362.19px;
        border: 1px solid #fff;
        .menu-item {
          overflow: hidden;
          display: block;
          width: 100%;
          height: 100%;
          border: 1px solid #dddddd;
          text-align: center;
          position: relative;
          &::before {
            content: '';
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            position: absolute;
            top: 0;
            left: 0;
          }
          img {
            transition: all 0.3s;
          }
          &:hover {
            &::before {
              border: 4px solid #e98004;
            }
            img {
              transform: scale(1.1);
            }
          }
          .menu-pic {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 279px;
            margin: 0 auto;
            padding: 30px;
            position: relative;
            img {
              width: 119px;
              height: 219px;
            }
            i {
              position: absolute;
              top: 9px;
              right: 9px;
              width: 52px;
              height: 52px;
              border-radius: 100%;
              background: #e98004;
              color: #fff;
              &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: attr(data-alt);
                font: 0.875rem/1.1 'noto';
              }
            }
          }
          span {
            p {
              font: 1rem/1.6 'noto';
              color: #222;
              i {
                display: inline-block;
                width: 7px;
                height: 7px;
                border-radius: 100%;
                margin: 0 3px;
                &.ice {
                  background: #006db0;
                }
                &.Hot {
                  background: #ed2939;
                }
              }
            }
          }
        }
        .menu-modal {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.75);
          z-index: 9999;
          &-inner {
            width: 1200px;
            height: auto;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .modal-item {
              width: 100%;
              height: 100%;
              padding: 25px;
              overflow: hidden;
              .modal-pic {
                width: 460px;
                width: 40%;
                height: 100%;
                float: left;
                display: flex;
                justify-content: center;
                align-items: center;
                /*이미지 가운데 정렬 필요*/
                img {
                  display: block;
                  width: 119px;
                  height: 219px;
                  margin: 0 auto;
                }
              }
              .modal-text {
                float: right;
                width: 690px;
                width: 60%;
                height: 100%;
                .title {
                  display: block;
                  width: auto;
                  padding: 8px 0 10px;
                  border-bottom: 3px solid #ff5b28;
                  overflow: hidden;
                  i {
                    float: left;
                    width: 52px;
                    height: 52px;
                    border-radius: 100%;
                    background: #e98004;
                    color: #fff;
                    position: relative;
                    margin: 0 5px;
                    text-align: center;
                    &::before {
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      content: attr(data-tit);
                      font: 0.875rem/1.1 'noto';
                    }
                  }
                  p {
                    float: left;
                    vertical-align: middle;
                    font: 2.3529rem/1.44768 'noto';
                    color: #222;
                  }
                }
                .info {
                  width: 100%;
                  height: auto;
                  p {
                    font: 0.875rem/1.6714 'noto';
                    height: auto;
                    width: auto;
                    padding: 30px 0;
                    color: #666;
                    &.diary {
                      max-height: 240px;
                      padding: 0 0;
                      margin: 30px 0;
                      overflow: hidden;
                      overflow-y: scroll;
                      &::-webkit-scrollbar {
                        width: 2px;
                        height: 237px;
                      }
                      &::-webkit-scrollbar-thumb {
                        background: #ffffffbf;
                        border-radius: 10px;
                        height: 167px;
                        border: none;
                      }
                      &::-webkit-scrollbar-track {
                        background: #00000066;
                      }
                    }
                  }
                }
                .detail {
                  width: 100%;
                  font-size: 0.875rem/1.1 'noto';
                  text-align: center;
                  table {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #ddd;
                    border-collapse: collapse;
                    th {
                      font: 0.875rem/1.1 'noto';
                      background: #7b009b;
                      color: #fff;
                      padding: 10px 2px;
                    }
                    td {
                      font: 0.875rem/1.1 'noto';
                      color: #222;
                      padding: 13px 0;
                    }
                  }
                }
              }
            }
            button {
              position: absolute;
              top: 0;
              right: 0;
              width: 48px;
              height: 64px;
              padding: 10px;
              border: none;
              background: none;
              text-align: center;
              &:hover {
                span {
                  background: #333;
                }
              }
              span {
                width: 28px; /*임의지정*/
                height: 2px; /*임의지정*/
                background: #666;
                position: absolute;
                right: 10px;
                &:nth-child(1) {
                  top: 50%;
                  transform: rotate(45deg);
                }
                &:nth-child(2) {
                  top: 50%;
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .menu-main {
    width: 100%;
    height: 510px;
    .heading {
      width: 100%;
      height: 100%;
      gap: 18px;
      .title {
        font: 600 2.8125rem/1.2 'geometos';
        letter-spacing: -0.0706rem;
      }
      p {
        font: 300 1.125rem/1.6 'suitL';
      }
    }
  }
  .menu-nav {
    width: 100%;
    ul {
      li {
        &:hover {
          border-bottom: none;
        }
      }
    }
  }
  .menu-wrap {
    width: 100%;
    .tab {
      width: 100%;
      &-inner {
        width: 100%;
      }
    }
    .menu-list {
      width: 100%;
      .list-inner {
        width: 100%;
        .list-item {
          .menu-modal {
            &-inner {
              width: 1184px;
              width: 98.66666%;
              .modal-item {
                width: 100%;
                height: 100%;
                .modal-pic {
                  width: 460px;
                  width: 40.5644%;
                  height: 100%;
                }
                .modal-text {
                  width: 59.4356%;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  header {
    height: 60px;
  }
  .menu-main {
    width: 100%;
    height: 510px;
    .heading {
      width: 100%;
      height: 100%;
      gap: 15px;
      .title {
        font: 600 1.6306rem/1.2074 'geometos';
        letter-spacing: -0.0413rem;
      }
      p {
        font: 300 0.9375rem/1.6 'suitL';
      }
    }
  }
  .menu-nav {
    width: 100%;
    height: 46.88px;
    ul {
      li {
        padding: 0 26.3672px;
        a {
          font: 1.0481rem/2.7955 'suitM';
        }
        &:hover {
          border-bottom: none;
        }
      }
    }
  }
  .menu-wrap {
    width: 100%;
    padding: 40px 15px 70px;
    margin: 0 auto;
    .tab {
      width: 100%;
      margin-bottom: 40px;
      &-inner {
        li {
          width: 497px;
          width: 50%;
          height: 38px;
          font: 500 0.8125rem/2.9231 'noto';
        }
      }
    }
    .menu-list {
      width: 100%;
      .list-inner {
        width: 100%;
        .list-item {
          width: calc((100% - 10px) / 2);
          height: 318.59px;
          .menu-item {
            .menu-pic {
              width: 100%;
              height: 245px;
              padding: 13px;
              i {
                top: 8.5px;
                right: 8.5px;
                width: 40px;
                height: 40px;
                &::before {
                  font: 0.75rem/1.1 'noto';
                }
              }
            }
            span {
              p {
                font: 0.8125rem/1.6 'noto';
              }
            }
          }
          .menu-modal {
            &-inner {
              width: 1008px;
              width: 98.4375%;
              .modal-item {
                width: 100%;
                height: 100%;
                padding: 10px;
                .modal-pic {
                  width: 185px;
                  width: 18.7246%;
                  margin-right: 1.5174%;
                }
                .modal-text {
                  width: 788px;
                  width: 79.758%;
                  .title {
                    border-bottom: 1px solid #ff5b28;
                    i {
                      width: 40px;
                      height: 40px;
                      &::before {
                        font: 0.75rem/1.1 'noto';
                      }
                    }
                    p {
                      font: 1.9118rem/1.4548 'noto';
                    }
                  }
                  .info {
                    width: 100%;
                    height: auto;
                    p {
                      font: 0.75rem/1.6833 'noto';
                      padding: 15px 0;
                      &.diary {
                        margin: 15px 0;
                        &::-webkit-scrollbar-thumb {
                          height: 220px; /*임의지정*/
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
