@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background: #d9d9d9;
  color: #ff5b28;
  text-shadow: none;
}
*::selection {
  background: #d9d9d9;
  color: #ff5b28;
  text-shadow: none;
}
*::-webkit-scrollbar {
  margin: 0;
  padding: 0;
  width: 8px;
}
*::-webkit-scrollbar-button {
  height: 0;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}
*::-webkit-scrollbar-corner {
  background-color: #222;
}
*::-webkit-scrollbar-thumb {
  /* background: rgba(123, 0, 160, 0.7); */
  background: rgba(255, 91, 40, 0.7);
  border-radius: 8px;
  border: 1px solid #000;
}
*::-webkit-scrollbar-thumb:hover, *::-webkit-scrollbar-thumb:active {
  /* background: rgba(123, 0, 160, 0.9); */
  background: rgba(255, 91, 40, 0.9);
}
*::-webkit-scrollbar-track {
  background-color: #222;
  border-radius: 0;
  border: 0;
}
*::-webkit-scrollbar-track:hover, *::-webkit-scrollbar-track:active {
  background: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@font-face {
  font-family: "geometos";
  src: url("./font/Geometos-Rounded.ttf");
}
@font-face {
  font-family: "nanum";
  src: url("./font/NanumSquareB.ttf");
}
@font-face {
  font-family: "noto";
  src: url("./font/NotoSansKR-VariableFont_wght.ttf");
}
@font-face {
  font-family: "noto500";
  src: url("./font/noto-sans-kr-v13-latin_korean-500.ttf");
}
@font-face {
  font-family: "suitB";
  src: url("./font/SUIT-Bold.ttf");
}
@font-face {
  font-family: "suitL";
  src: url("./font/SUIT-Light.ttf");
}
@font-face {
  font-family: "suitM";
  src: url("./font/SUIT-Medium.ttf");
}
@font-face {
  font-family: "suitSB";
  src: url("./font/SUIT-SemiBold.ttf");
}
@font-face {
  font-family: "xeicon";
  src: url("./font/xeicon.ttf");
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: #fff;
}

.menu-wrap {
  /*menu-story*/
  /*menu-whole*/
}
.menu-wrap header {
  width: 100%;
  height: 90px;
  border: 1px solid #000;
}
.menu-wrap .menu-main {
  width: 100%;
  height: 510px;
  background: url("../img/02menuImg/menuBg.png") center/cover no-repeat;
}
.menu-wrap .menu-main .heading {
  padding: 10px;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.menu-wrap .menu-main .heading .title {
  font: 600 2.8125rem/1.2 "geometos";
  letter-spacing: -0.0706rem;
}
.menu-wrap .menu-main .heading p {
  font: 300 1.125rem/1.6 "suitL";
  text-align: center;
}
.menu-wrap .menu-nav {
  width: 100%;
  height: 68px;
  margin: 0 auto;
  border-bottom: 1px solid #dddddd;
}
.menu-wrap .menu-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.menu-wrap .menu-nav ul li {
  float: left;
  padding: 0 28.125px;
}
.menu-wrap .menu-nav ul li.active {
  border-bottom: 2.5px solid #780997;
}
.menu-wrap .menu-nav ul li a {
  font: 1.125rem/3.5556 "suitM";
  color: #333;
}
.menu-wrap .menu-nav ul li:hover {
  border-bottom: 2.5px solid #780997;
}
.menu-wrap .menu-nav ul li:hover a {
  color: #780997;
}
.menu-wrap .menu-story-wrap {
  width: 100%;
  background: #f5f4f3;
}
.menu-wrap .menu-story-wrap-inner {
  width: 1920px;
  margin: 0 auto;
}
.menu-wrap .menu-story-wrap-inner .menu-story {
  width: 100%;
  overflow: hidden;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt {
  float: left;
  width: 872px;
  height: 716px;
  background: #f5f4f3;
  position: relative;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 {
  padding: 144.11px 142px 192px;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 h1 {
  font: 700 4.125rem/1 "noto";
  letter-spacing: -0.0825rem;
  color: #780997;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 p {
  font: 3.2375rem/1.2046 "suitM";
  letter-spacing: -0.065rem;
  margin: 12px 0 40px;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee {
  width: 200px;
  height: 716px;
  background: #f5f4f3;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: 2 1 1 1;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee .menu-story-coffee-01,
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee .menu-story-coffee-02,
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee .menu-story-coffee-03,
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee .menu-story-coffee-04 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee .menu-story-coffee-01 p,
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee .menu-story-coffee-02 p,
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee .menu-story-coffee-03 p,
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee .menu-story-coffee-04 p {
  font: 1.3644rem/1.1086 "suitM";
  letter-spacing: 0.03125em;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee-01 {
  background: #7b00a0;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee-01 img {
  width: 69px;
  height: 68px;
  margin-bottom: 10px;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee-02 {
  background: #ff5b28;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee-03 {
  background: #ff8c68;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-lt-inner-01 .menu-story-coffee-04 {
  background: #ffad93;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-rt {
  float: left;
  width: 1048px;
  height: 716px;
  background: url("./img/02menuImg/secBg-specialtea.png");
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-rt-inner-01 {
  width: 100%;
  height: 100%;
}
.menu-wrap .menu-story-wrap-inner .menu-story .menu-story-rt-inner-01 .menu-story-text {
  color: #fff;
  width: 1048px;
  height: 716px;
}
.menu-wrap .menu-whole-wrap {
  width: 1200px;
  padding: 100px 0 150px;
  margin: 0 auto;
}
.menu-wrap .menu-whole-wrap .menu-tab {
  width: 100%;
  margin-bottom: 50px;
}
.menu-wrap .menu-whole-wrap .menu-tab-inner {
  width: 100%;
  overflow: hidden;
}
.menu-wrap .menu-whole-wrap .menu-tab-inner li {
  width: 300px;
  width: 25%;
  height: 48px;
  float: left;
  text-align: center;
  background: #e6deda;
  font: 500 1rem/3 "noto";
  color: #222;
  letter-spacing: -0.03125rem;
}
.menu-wrap .menu-whole-wrap .menu-tab-inner li.active {
  background: #36252f;
  color: #fff;
}
.menu-wrap .menu-whole-wrap .menu-list {
  width: 100%;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  display: none;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner.active {
  display: flex;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item {
  width: calc((100% - 30px) / 4);
  height: 362.19px;
  border: 1px solid #fff;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #dddddd;
  text-align: center;
  position: relative;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item::before {
  content: "";
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  position: absolute;
  top: 0;
  left: 0;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item img {
  transition: all 0.3s;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item:hover::before {
  border: 4px solid #e98004;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item:hover img {
  transform: scale(1.1);
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item .menu-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 279px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item .menu-pic img {
  width: 119px;
  height: 219px;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item .menu-pic i {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: #e98004;
  color: #fff;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item .menu-pic i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: attr(data-alt);
  font: 0.875rem/1.1 "noto";
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item span p {
  font: 1rem/1.6 "noto";
  color: #222;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item span p i {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  margin: 0 3px;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item span p i.ice {
  background: #006db0;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item span p i.Hot {
  background: #ed2939;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner {
  width: 1200px;
  height: auto;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item {
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-pic {
  width: 460px;
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-pic img {
  display: block;
  width: 119px;
  height: 219px;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text {
  width: 690px;
  width: 60%;
  height: 100%;
  overflow: hidden;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .title {
  width: auto;
  padding: 8px 0 10px;
  border-bottom: 3px solid #ff5b28;
  display: flex;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .title i {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: #e98004;
  color: #fff;
  position: relative;
  margin: 0 5px;
  text-align: center;
  flex-shrink: 0;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .title i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: attr(data-tit);
  font: 0.875rem/1.1 "noto";
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .title p {
  vertical-align: middle;
  font: 2.35294rem/1.44768 "noto";
  color: #222;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .info {
  width: 100%;
  height: auto;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .info p {
  font: 0.875rem/1.6714 "noto";
  height: auto;
  width: auto;
  margin: 30px 7px 30px 0;
  color: #666;
  overflow: hidden;
  max-height: 240px;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .info p.diary {
  padding: 0;
  overflow-y: scroll;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .info p.diary::-webkit-scrollbar {
  width: 2px;
  height: 237px;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .info p.diary::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7490196078);
  border-radius: 10px;
  height: 167px;
  border: none;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .info p.diary::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.4);
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .detail {
  width: 100%;
  width: 690px;
  font: 0.875rem/1.1 "noto";
  text-align: center;
  overflow: hidden;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .detail table {
  min-width: 600px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .detail table th {
  font: 0.875rem/1.1 "noto";
  background: #7b009b;
  color: #fff;
  padding: 10px 2px;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .detail table td {
  font: 0.875rem/1.1 "noto";
  color: #222;
  padding: 13px 2px;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner button {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 64px;
  padding: 10px;
  border: none;
  background: none;
  text-align: center;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner button:hover span {
  background: #333;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner button span {
  width: 28px; /*임의지정*/
  height: 2px; /*임의지정*/
  background: #666;
  position: absolute;
  right: 10px;
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner button span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner button span:nth-child(2) {
  top: 50%;
  transform: rotate(-45deg);
}

@media screen and (max-width: 1200px) {
  .menu-wrap {
    /*menu-story*/
    /*menu-whole*/
  }
  .menu-wrap .menu-main {
    width: 100%;
    height: 510px;
  }
  .menu-wrap .menu-nav {
    width: 100%;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
  }
  .menu-wrap .menu-nav ul li:hover {
    border-bottom: none;
  }
  .menu-wrap .menu-whole-wrap {
    width: 100%;
  }
  .menu-wrap .menu-whole-wrap .menu-tab {
    width: 100%;
  }
  .menu-wrap .menu-whole-wrap .menu-tab-inner {
    width: 100%;
    overflow: hidden;
  }
  .menu-wrap .menu-whole-wrap .menu-list {
    width: 100%;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner {
    width: 100%;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal {
    width: 100%;
    padding: 0 8px;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner {
    width: calc(100% - 16px);
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item {
    width: 100%;
    height: 100%;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-pic {
    width: 460px;
    width: 40.5644%;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text {
    width: 59.4356%;
    height: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .menu-wrap {
    /*menu-story*/
    /*menu-whole*/
  }
  .menu-wrap header {
    height: 60px;
  }
  .menu-wrap .menu-main {
    width: 100%;
    height: 510px;
  }
  .menu-wrap .menu-main .heading {
    width: 100%;
    height: 100%;
    gap: 15px;
  }
  .menu-wrap .menu-main .heading .title {
    font: 600 1.6306rem/1.2074 "geometos";
    letter-spacing: -0.0413rem;
  }
  .menu-wrap .menu-main .heading p {
    font: 300 0.9375rem/1.6 "suitL";
  }
  .menu-wrap .menu-nav {
    width: 100%;
    height: 46.88px;
  }
  .menu-wrap .menu-nav ul li {
    padding: 0 26.3672px;
  }
  .menu-wrap .menu-nav ul li.active {
    border-bottom: none;
  }
  .menu-wrap .menu-nav ul li a {
    font: 1.0481rem/2.7955 "suitM";
  }
  .menu-wrap .menu-nav ul li:hover {
    border-bottom: none;
  }
  .menu-wrap .menu-whole-wrap {
    width: 100%;
    padding: 40px 15px 70px;
    margin: 0 auto;
  }
  .menu-wrap .menu-whole-wrap .menu-tab {
    width: 100%;
    margin-bottom: 40px;
  }
  .menu-wrap .menu-whole-wrap .menu-tab-inner li {
    width: 497px;
    width: 50%;
    height: 38px;
    font: 500 0.8125rem/2.9231 "noto";
  }
  .menu-wrap .menu-whole-wrap .menu-list {
    width: 100%;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner {
    width: 100%;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item {
    width: calc((100% - 10px) / 2);
    height: 318.59px;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item .menu-pic {
    width: 100%;
    height: 245px;
    padding: 13px;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item .menu-pic i {
    top: 8.5px;
    right: 8.5px;
    width: 40px;
    height: 40px;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item .menu-pic i::before {
    font: 0.75rem/1.1 "noto";
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-item span p {
    font: 0.8125rem/1.6 "noto";
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner {
    width: calc(100% - 16px);
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-pic {
    width: 185px;
    margin-right: 15px;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text {
    width: calc(100% - 200px);
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .title {
    border-bottom: 1px solid #ff5b28;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .title i {
    width: 40px;
    height: 40px;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .title i::before {
    font: 0.75rem/1.1 "noto";
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .title p {
    font: 1.9117rem/1.4548 "noto";
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .info {
    width: 100%;
    height: auto;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .info p {
    font: 0.75rem/1.6833 "noto";
    margin: 15px 6px 15px 0;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .info p.diary::-webkit-scrollbar-thumb {
    height: 220px; /*임의지정*/
  }
}
@media screen and (max-width: 576px) {
  .menu-wrap {
    /*menu-story*/
    /*menu-whole*/
  }
  .menu-wrap .menu-main {
    width: 100%;
    height: 65vw;
  }
  .menu-wrap .menu-main .heading {
    width: 100%;
    height: 100%;
    gap: 13px;
  }
  .menu-wrap .menu-main .heading .title {
    font: 600 1.4219rem/1.2 "geometos";
    letter-spacing: -0.0413rem;
  }
  .menu-wrap .menu-main .heading p {
    font: 300 0.8125rem/1.6 "suitL";
  }
  .menu-wrap .menu-nav {
    width: 100%;
    height: 40.63px;
  }
  .menu-wrap .menu-nav ul li {
    padding: 0 22.8516px;
  }
  .menu-wrap .menu-nav ul li a {
    font: 0.9141rem/2.7781 "suitM";
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal {
    padding: 0 6px;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner {
    width: calc(100% - 12px);
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .menu-wrap {
    /*menu-story*/
    /*menu-whole*/
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-pic {
    width: 100%;
    margin: 0;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text {
    width: 100%;
    height: 100%;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .info p {
    max-height: 170px;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .detail {
    width: 100%;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .detail table th {
    font: 0.75rem/1.1 "noto";
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item .menu-modal-inner .modal-item .modal-text .detail table td {
    font: 0.75rem/1.1 "noto";
  }
}
@media screen and (max-width: 320px) {
  .menu-wrap .menu-whole-wrap .menu-list .list-inner {
    overflow: hidden;
    gap: 0;
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item {
    float: left;
    margin: 0 4px 10px 0;
    width: calc((100% - 4px) / 2);
  }
  .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(2), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(4), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(6), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(8), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(10), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(12), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(14), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(16), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(18), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(20), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(22), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(24), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(26), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(28), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(30), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(32), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(34), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(36), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(38), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(40), .menu-wrap .menu-whole-wrap .menu-list .list-inner .list-item:nth-of-type(42) {
    margin-right: 0;
  }
}/*# sourceMappingURL=menu.css.map */