@import url("../font.css");
@import url("../reset.css");
@import "../mixin.scss";
@media (max-width: 1500px) {
  body {
    #quick-menu {
      @include quickmenu-1500;
    }
  }
}
@media (max-width: 1200px) {
  body {
    #quick-menu {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  body {
    header {
      @include header-1024;
    }
    footer {
      @include footer-1024;
    }
  }
}
* {
  &::selection {
    background: #d9d9d9;
    color: #ff5b28;
    text-shadow: none;
  }
  body {
    width: 100%;
    height: 100%;

    overflow-x: hidden;
  }
  header {
    @include header-1920;
  }
  aside {
    @include aside-1920;
  }
  // section {
  //   width: 1920px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   margin: 0 auto;
  //   .text {
  //     img {
  //       width: 1920px;
  //     }
  //     width: 1920px;
  //   }
  // }
  #quick-menu {
    @include quickmenu-1920;
  }
  footer {
    @include footer-1920;
  }
}
