@import url("../font.css");
@font-face {
  font-family: noto500;
  src: url("./noto-sans-kr-v13-latin_korean-500.ttf");
}
@media (max-width: 1024px) {
  .nav-items {
    opacity: 0;
  }
}
*::-moz-selection {
  background: #d9d9d9;
  color: #ff5b28;
  text-shadow: none;
}
*::selection {
  background: #d9d9d9;
  color: #ff5b28;
  text-shadow: none;
}
* body {
  width: 100%;
  height: 100%;
  transition: all 1s;
  overflow-x: hidden;
}
* header {
  transition: all 0.6s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1920px;
  height: 90px;
}
* header #fixed-header {
  border-bottom: 1px solid #ddd;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  background: #fff;
  width: 100%;
}
* header #fixed-header #header-container {
  border: 1px solid #f00;
  font-family: geometos;
  width: 1360px;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 14.583%;
}
* header #fixed-header #header-container #logogif {
  border: 1px solid #f00;
  width: 189px;
  height: 90px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
* header #fixed-header #header-container #logogif .logogif img {
  width: 100%;
  height: 47%;
}
* header #fixed-header #header-container #header-nav {
  width: 58.3985%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
* header #fixed-header #header-container #header-nav .nav-items {
  position: relative;
  font-size: 1.25rem;
  padding: 0 3.84%;
  color: #333;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
* header #fixed-header #header-container #header-nav .nav-items::before {
  content: "";
  bottom: 0%;
  position: absolute;
  width: 0%;
  height: 4px;
  background: #780997;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s;
}
* header #fixed-header #header-container #header-nav .nav-items:hover::before {
  width: 100%;
}
* header #fixed-header #header-container #header-nav .nav-items:hover {
  color: #780997;
}
* header #fixed-header #header-container #logo-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.23%;
  background: #780997;
  height: 54.4%;
  border-radius: 35px;
  padding: 0 22.5px;
}
* header #fixed-header #header-container #logo-back a p {
  font-size: 1.125rem;
  text-align: center;
  color: #fff;
  font-family: noto500;
  font-weight: 600;
}
* header #fixed-header #header-container #logo-back .logo-back img {
  width: 26px;
  height: 20px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}
* header #dropdown {
  border: 1px solid #f00;
  transition: all 1s linear;
  width: 1920px;
  display: none;
  color: #666;
  font-family: suitM;
  position: fixed;
  left: 0;
  top: 91px;
  background: #fff;
  justify-content: center;
  align-items: center;
}
* header #dropdown #dropdown-container {
  border: 1px solid #f00;
  display: flex;
  height: 462.73px;
  align-items: center;
  justify-content: space-around;
  width: 1360px;
  margin: 0 auto;
  flex: 1;
}
* header #dropdown #dropdown-container #dropdown-img img {
  width: 282px;
  height: 300px;
  margin-right: 42px;
  border: 1px solid #f00;
}
* header #dropdown #dropdown-container #dropdown-list {
  display: flex;
  text-align: center;
  font-size: 0.9375rem;
}
* header #dropdown #dropdown-container #dropdown-list a:hover {
  color: #780997;
}
* header #dropdown #dropdown-container #dropdown-list #brand-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}
* header #dropdown #dropdown-container #dropdown-list #menu-list {
  display: flex;
  flex-direction: column;
}
* header #dropdown #dropdown-container #dropdown-list #store-list {
  margin-right: 20px;
  padding: 10px;
  width: 9.7%;
}
* header #dropdown #dropdown-container #dropdown-list #membership-list {
  margin-right: 20px;
  padding: 10px 50px 10px 63px;
  width: 28.55%;
}
* header #dropdown #dropdown-container #dropdown-list #community-list {
  display: flex;
  flex-direction: column;
  width: 21.2%;
}
* section {
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
* section .text {
  width: 1920px;
}
* section .text img {
  width: 1920px;
}
* #quick-menu {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 0;
}
* #quick-menu ul {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
* #quick-menu ul li {
  font-family: nanum;
  color: #fff;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  background: #291b35;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 30px;
  transition: all 0.3s;
}
* #quick-menu ul li:last-child {
  background: #7b00a0;
}
* #quick-menu ul li:hover {
  background: #7b00a0;
}
* #quick-menu ul li a {
  text-align: center;
}
* #quick-menu ul li a .quick-tit {
  font-size: 0.875rem;
  margin-bottom: 4px;
}
* #quick-menu ul li a .quick-tel {
  text-align: center;
  font-size: 1.25rem;
}
* footer {
  position: relative;
  width: 100%;
  height: 426px;
  background: #2c0039;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}
* footer::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 39%;
  background: #ccc;
}
* footer #footer-wrap {
  width: 1360px;
}
* footer #footer-wrap #footer-container-top {
  position: absolute;
  width: 1360px;
  height: 55px;
  display: flex;
  top: 13.2%;
  justify-content: space-between;
}
* footer #footer-wrap #footer-container-top .footer-logo img {
  width: 220.5px;
  height: 38.25;
}
* footer #footer-wrap #footer-container-top .footer-info {
  font-family: suitM;
  display: flex;
  color: #fff;
  font-size: 1.125rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
* footer #footer-wrap #footer-container-top .footer-info p {
  margin-right: 16px;
}
* footer #footer-wrap #footer-container-top .footer-sns img {
  transition: all 0.3s;
  margin-right: 5px;
}
* footer #footer-wrap #footer-container-top .footer-sns img:hover {
  filter: grayscale(100%);
}
* footer #footer-wrap #footer-container-bottom {
  display: flex;
  width: 1360px;
  height: 146px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 47.5233%;
}
* footer #footer-wrap #footer-container-bottom .footer-tel {
  font-family: geometos;
  font-size: 1.875rem;
  color: #ff5b28;
}
* footer #footer-wrap #footer-container-bottom .footer-tel p {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
* footer #footer-wrap #footer-container-bottom .footer-tel p span {
  margin-right: 10px;
  font-size: 1.125rem;
  font-family: suitL;
  color: #fff;
}
* footer #footer-wrap #footer-container-bottom .footer-text .footer-text-middle {
  display: flex;
}
* footer #footer-wrap #footer-container-bottom .footer-text .footer-text-middle p {
  margin-right: 10px;
}
* footer #footer-wrap #footer-container-bottom .footer-text .footer-text-end {
  margin-top: 20px;
}
* footer #footer-wrap #footer-container-bottom .footer-text p {
  margin-bottom: 4px;
  font-family: suitL;
  color: #ccc;
  font-size: 1.125rem;
}
* footer #footer-wrap #footer-container-bottom .footer-text p span {
  font-family: suitM;
  color: #fff;
  font-size: 1.125rem;
  margin-right: 20px;
}
* footer #footer-wrap #footer-container-bottom .footer-icon {
  width: 122.75px;
  height: 49px;
  border-radius: 35px;
  background: #ff5b28;
}
* footer #footer-wrap #footer-container-bottom .footer-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
}
* footer #footer-wrap #footer-container-bottom .footer-icon a p {
  font-family: noto500;
  font-weight: bold;
  font-size: 1.125rem;
  color: #fff;
  margin-right: 5px;
}
* footer #footer-wrap #footer-container-bottom .footer-icon a img {
  width: 26px;
  height: 20px;
}/*# sourceMappingURL=commonstyle.css.map */