@import "../../reset.css";
@import "../../font.css";
@import "../../variables.scss";
@import "../../mixin.scss";

body {
  font-size: 16px;
  .wrap {
    width: 100%;
    height: 100%;
    header {
      @include header-1920;
    }
    .volun-figuer {
      @include community-figuer;
    }
    .volun-nav {
      @include community-nav;
    }
    .container {
      width: 1200px;
      height: 100%;
      padding-top: 100px;
      margin: 0 auto;
      .qna-search {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        #catagory {
          width: 8.33%;
          height: 40px;
          outline: none;
          border: 1px solid #ddd;
          font: 1rem "noto";
        }
        input[type="text"] {
          width: 20%;
          height: 40px;
          outline: none;
          padding: 5px;
          border: 1px solid #ddd;
          font: 1rem "noto";
        }
        input[type="submit"] {
          width: 7.5%;
          height: 40px;
          outline: none;
          border: 1px solid #ddd;
          font: 1rem "noto";
          cursor: pointer;
        }
      }
      .qna-nav {
        width: 100%;
        height: 100%;
        ul {
          display: flex;
          border-bottom: 1px solid #000;
          li {
            width: 16.66%;
            height: 48px;
            text-align: center;
            font: 500 1.125rem/48px "noto";
            background: map-get($main-color, lbrown);
            cursor: pointer;
            &.active {
              background: map-get($main-color, dbrown);
              color: #fff;
            }
          }
        }
      }
      .qna-content {
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        .qna-total {
          li {
            display: none;
            .qna-front {
              cursor: pointer;
              width: 100%;
              height: 59px;
              font: 400 1.1rem "noto";
              color: #333;
              padding: 15px 10px;
              position: relative;
              border-bottom: 1px solid #ddd;
              &::before {
                content: "Q. ";
                font: bold 1.1rem "noto";
                color: #666;
              }
              &::after {
                content: "\f078";
                font-family: "fontawesome";
                position: absolute;
                top: 50%;
                right: 0.833%;
                transform: translateY(-50%);
              }
            }
            .qna-back {
              display: none;
              width: 100%;
              height: auto;
              padding: 20px;
              font: 1rem "noto";
              background: #f6f6f6;
              &::before {
                content: "A. ";
                font: bold 1.1rem "noto";
                color: map-get($text-color, textp);
              }
            }
            &.active {
              display: block;
            }
          }
        }
      }
      .qna-pages {
        width: 100%;
        height: 34px;
        margin-bottom: 155px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        .prevent-next {
          width: 34px;
          height: 34px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .page {
          width: 34px;
          height: 34px;
          text-align: center;
          border: 1px solid #edeff1;
          font: 1rem/31px "noto";
        }
      }
    }
    #quick-menu {
      @include quickmenu-1920;
    }
    footer {
      @include footer-1920;
    }
  }
}
