@font-face {
  font-family: "geometos";
  src: url("./font/Geometos-Rounded.ttf");
}
@font-face {
  font-family: "nanum";
  src: url("./font/NanumSquareB.ttf");
}
@font-face {
  font-family: "noto";
  src: url("./font/NotoSansKR-VariableFont_wght.ttf");
}
@font-face {
  font-family: "suitB";
  src: url("./font/SUIT-Bold.ttf");
}
@font-face {
  font-family: "suitL";
  src: url("./font/SUIT-Light.ttf");
}
@font-face {
  font-family: "suitM";
  src: url("./font/SUIT-Medium.ttf");
}
@font-face {
  font-family: "suitSB";
  src: url("./font/SUIT-SemiBold.ttf");
}
@font-face {
  font-family: "xeicon";
  src: url("./font/xeicon.ttf");
}
