@import "./reset.css";
@import "./font.css";
@import "./variables.scss";

@mixin community-nav {
  width: 100%;
  height: 68px;
  border-bottom: 1px solid #ddd;
  .volun-bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
    ul {
      display: flex;
      li {
        a {
          display: inline-flex;
          align-items: center;
          padding: 0 1.5625em;
          height: 4.25rem;
          // padding: 18px 28px 24px;
          font: 1.125rem "suitM";
          border-bottom: 2.5px solid transparent;
          &:hover {
            transform: translateY(-1px);
            color: map-get($text-color, navp);
            border-bottom: 2.5px solid map-get($text-color, navp);
          }
        }
      }
      .active {
        display: inline-flex;
        // transform: translateY(-1px);
        color: map-get($text-color, navp);
        border-bottom: 2.5px solid map-get($text-color, navp);
      }
    }
  }
}
@mixin community-figuer {
  margin-top: 91px;
  width: 100%;
  height: 510px;
  background: url("../../img/04community/bg/community-bg.png") center/cover
    no-repeat;
  .volun-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    height: 100%;
    color: #fff;
    h1 {
      font: 2.8125rem "geometos";
    }
    p {
      font: 1.125rem "suitL";
    }
  }
}

@mixin popup2 {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10000;
  .popup2wrap {
    margin: 0 auto;
    background: #fff;
    max-width: 500px;
    display: flex;
    height: 600px;
    gap: 10px;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5rem 1.25rem;
    z-index: 999;
    h1 {
      color: #666;
      font-size: 2.34375rem;
      font-family: suit;
      display: flex;
      font-weight: normal;
      align-items: center;
      justify-content: center;
    }
    .popup2-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      text-align: center;
      color: #7a7a7a;
      font-size: 0.9rem;
      background: none;
      border: none;
      cursor: pointer;
      #popup2-close {
        font-family: xeicon;
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        font-variant: normal;
        &::before {
          content: "\e921";
        }
      }
    }
    .popup2-p {
      &::-webkit-scrollbar {
        margin: 0;
        padding: 0;
        width: 8px;
      }
      &::-webkit-scrollbar-button {
        height: 0;

        -webkit-transition: 300ms all;
        transition: 300ms all;
      }
      &::-webkit-scrollbar-corner {
        background-color: none;
      }
      &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 8px;
        border: none;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #c1c1c1;
      }
      &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 0;
        border: 0;
      }
      &::-webkit-scrollbar-track:hover,
      &::-webkit-scrollbar-track:active {
        background: none;
      }
      overflow: scroll;
      overflow-x: hidden;
      width: 100%;
      height: 100%;
      color: #666 !important;
      font-weight: 400;
      text-align: left;
      line-height: 1.6;
      font-size: 0.8125rem;
      font-family: noto;
    }
  }
}
@mixin popup3 {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10000;
  .popup3wrap {
    margin: 0 auto;
    background: #fff;
    max-width: 500px;
    display: flex;
    height: 600px;
    gap: 10px;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5rem 1.25rem;
    z-index: 999;
    h1 {
      color: #666;
      font-size: 2.34375rem;
      font-family: suit;
      display: flex;
      font-weight: normal;
      align-items: center;
      justify-content: center;
    }
    .popup3-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      text-align: center;
      color: #7a7a7a;
      font-size: 0.9rem;
      background: none;
      border: none;
      cursor: pointer;
      #popup3-close {
        font-family: xeicon;
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        font-variant: normal;
        &::before {
          content: "\e921";
        }
      }
    }
    .popup3-p {
      &::-webkit-scrollbar {
        margin: 0;
        padding: 0;
        width: 8px;
      }
      &::-webkit-scrollbar-button {
        height: 0;

        -webkit-transition: 300ms all;
        transition: 300ms all;
      }
      &::-webkit-scrollbar-corner {
        background-color: none;
      }
      &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 8px;
        border: none;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #c1c1c1;
      }
      &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 0;
        border: 0;
      }
      &::-webkit-scrollbar-track:hover,
      &::-webkit-scrollbar-track:active {
        background: none;
      }
      overflow: scroll;
      overflow-x: hidden;
      width: 100%;
      height: 100%;
      color: #666 !important;
      font-weight: 400;
      text-align: left;
      line-height: 1.6;
      font-size: 0.8125rem;
      font-family: noto;
    }
  }
}
@mixin header-1920 {
  z-index: 100;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 90px;
  top: 0;

  #fixed-header-wrap {
    display: flex;
    justify-content: center;
    width: 1920px;
    #fixed-header {
      border-bottom: 1px solid #ddd;
      // position: absolute;
      top: 0;
      position: fixed;
      background: #fff;
      width: 100%;
      max-height: 91px;

      #header-container-wrap {
        width: 100%;
        margin: 0 auto;
        #header-container {
          font-family: geometos;
          width: 1360px;
          max-width: 100%;
          max-height: 90px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 0 auto;
          #logogif {
            max-width: 189px;
            height: 90px;
            margin-left: 10px;
            display: flex;
            align-items: center;
            .logogif img {
              width: 100%;
              height: 47%;
            }
          }
          #header-nav {
            width: 58.3985%;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            .nav-items {
              position: relative;
              font-size: 1.25rem;
              padding: 0 3.84%;
              color: #333;
              height: 100%;
              display: flex;
              align-items: center;
              transition: all 0.3s;
              &::before {
                content: "";
                bottom: 0%;
                position: absolute;
                width: 0%;
                height: 4px;
                background: #780997;
                left: 50%;
                transform: translate(-50%, 0);
                transition: all 0.3s;
              }
              &:hover::before {
                width: 100%;
              }
              &:hover {
                color: #780997;
              }
            }
          }
          #logo-back {
            &:hover {
              background: #000;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            // width: 12.23%;
            width: fit-content;
            padding: 0px 18px 0px 18px;
            // padding: 10px;
            max-width: 180px;
            max-height: 90px;
            background: #780997;
            // max-height: 54.4%;
            border-radius: 35px;
            // padding: 0 22.5px;
            transition: all 0.3s;
            & a p {
              font-size: 1.05rem;
              text-align: center;
              color: #fff;
              font-family: noto500;
              font-weight: 600;
            }
            .logo-back img {
              width: 26px;
              height: 20px;
              margin-left: 5px;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
  .button-nav {
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    text-align: center;
    height: 60px;
    width: 60px;
    color: #222;
    font-size: 2rem;
    border: none;
    display: none;
    background: none;
    cursor: pointer;
    // opacity: 0;
    .toggle-button {
      &::before {
        content: "\e91c";
      }
      font-family: xeicon !important;

      display: inline-block;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
    }
  }
  #dropdown {
    transition: all 1s linear;
    width: 100%;
    height: 462.73px;
    display: none;

    color: #666;
    font-family: suitM;
    position: fixed;
    top: 91px;
    background: #fff;
    // justify-content: center;
    // align-items: center;
    #dropdown-container {
      display: flex;
      height: 100%;
      // align-items: center;
      // justify-content: space-around;
      width: 1360px;
      margin: 0 auto;
      // width: 1082.22px;
      // margin: 0 14.583% 0;
      // flex: 1;
      #dropdown-img {
        width: 20.73529411764706%;
        margin-right: 20px;
        img {
          height: 300px;
          margin-right: 19px;
        }
      }
      #dropdown-list {
        width: 58.3985%;

        margin-left: -3px;
        // // flex: 1;
        // width: 71%;
        // height: 313px;
        display: flex;
        justify-content: space-between;
        font-size: 0.9375rem;
        & div {
          // border: 1px solid #f00;
          text-align: center;
          // flex: 1;
          margin-top: 17px;
          padding: 0 10px 10px 0px;
          width: auto;
        }

        & a {
          padding: 10px 0 0 10px;

          margin-bottom: 4px;

          &:hover {
            color: #780997;
          }
        }
        #brand-list {
          flex: 0.5;

          // flex: 1;
          display: flex;
          flex-direction: column;
          // margin-right: 20px;
          // padding: 10px;
          // height: 47.284%;
          // width: 13.12%;
          // justify-content: center;
          // align-items: center;
          & a {
            margin-left: 20px;
            width: 100%;
          }
        }
        #menu-list {
          flex: 0.5;

          // width: 17.36%;
          display: flex;
          flex-direction: column;
          margin-left: 0px;
          // padding: 10px;
          // width: 17.36%;
          flex: 0.9;
        }
        #store-list {
          flex: 0.5;

          display: flex;
          flex-direction: column;
          margin-left: -30px;
          // margin-right: 20px;
          // padding: 10px;
          // width: 9.7%;
        }
        #membership-list {
          flex: 1;

          display: flex;
          flex-direction: column;
          // margin-right: 20px;
          // padding: 10px 50px 10px 63px;

          // width: 28.55%;
        }
        #community-list {
          display: flex;
          flex-direction: column;
          // width: 21.2%;
        }
      }
    }
  }
}
@mixin header-1024 {
  z-index: 100;
  height: 61px;
  top: -1px !important;
  #dropdown {
    display: none !important;
  }
  #header-container-wrap {
    position: relative;
    #header-container {
      height: 61px;
      #logogif {
        position: absolute;
        left: -10px;
        img {
          width: 122px !important;
        }
      }
      #header-nav {
        .nav-items {
          display: none !important;
        }
      }
      #logo-back {
        display: none !important;
      }
    }
  }
  .button-nav {
    display: inline-block;
    position: fixed;
    top: 5px;
    transform: translate(0, -0px);
  }
}
@mixin aside-1920 {
  transition: all 0.5s;
  &.active {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  // @include aside-1920;
  #bgmobile {
    z-index: 99;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    right: -999px;
    width: 600px;
    height: 100%;
    background: #fff;
    .mobile-menu-head-wrap {
      width: 600px;

      .mobile-menu-head {
        height: 60px;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .mobile-menu-head-logo {
          margin-left: 15px;
          width: 150px;
          height: 26.19px;
          img {
            width: inherit;
            height: 26.19px;
          }
        }
        #mobile-menu-wrap {
          display: flex;
          gap: 20px;
          align-items: center;
          justify-content: center;
          #mobile-menu-head-logoback {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 101px;
            height: 29px;
            background: #780997;

            border-radius: 35px;
            // padding: 0 22.5px;
            // transition: all 0.3s;
            & a {
              & p {
                width: 73px;
                height: 25.6px;
                line-height: 25.6px;
                font-size: 0.8125rem;
                text-align: center;
                color: #fff;
                font-family: noto500;
                font-weight: bold;
              }
            }
            img {
              width: 15px;
              height: 11.53px;
              // margin-left: 5px;
              display: flex;
              align-items: center;
            }
          }
          .mobile-menu-head-btn {
            margin-right: 20px;
            text-align: center;
            color: #222;
            font-size: 2rem;
            background: none;
            border: none;
            cursor: pointer;
            .xi-close {
              font-family: xeicon;
              display: inline-block;
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              // line-height: 1;
              &::before {
                content: "\e921";
              }
            }
          }
        }
      }
    }
    .mobile-menu-body {
      .mobile-menu-body-list {
        .list-depth-1 {
          border-bottom: 1px solid #ddd;
          width: 600px;
          text-align: left;
          color: #000;

          display: block;
          padding: 1rem 1rem;
          font-size: 1.2rem;
          position: relative;
          font-family: "geometos";
          & a:hover {
            color: #780997;
          }
          & .depth-lasta:last-of-type::before {
            opacity: 0;
          }
          .xi-depth {
            position: absolute;
            top: 50%;
            font-size: 1.5rem;
            margin-top: -0.5rem;
            right: 1rem;
            color: #999;
            font-family: xeicon !important;
            display: inline-block;
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            cursor: pointer;
            transition: all 0s;
            &::before {
              content: "\e941";
            }
          }
          .clicked {
            transform: rotate(180deg);
          }
        }
        .list-depth-2 {
          display: none;
          padding: 1rem 1rem;
          font-family: "noto";
          font-size: 13px;
          color: #666;
          line-height: 1.6;
          font-weight: 400;
          border-bottom: 1px solid #ddd;

          .list-depth-3 {
            margin-bottom: 20px;
            &:last-of-type {
              margin-bottom: 0px;
            }
            &:hover {
              color: #780997;
            }
          }
        }
        .depth3clicked {
          color: #780997;
        }
        .dropdown {
          display: block;
        }
      }
    }
  }
}
@mixin aside-576 {
  width: 100% !important;
  #bgmobile {
    width: 100% !important;
    .mobile-menu-head-wrap {
      width: 100% !important;
      .mobile-menu-head {
        #mobile-menu-wrap {
          width: 100% !important;
          justify-content: right !important ;
          .mobile-menu-head-btn {
            margin-right: 4.8% !important;
            font-size: 1.6rem !important;
          }
        }
      }
    }
    .mobile-menu-body {
      .mobile-menu-body-list {
        .list-depth-1 {
          width: 100% !important;
          font-size: 0.975rem !important;
        }
      }
    }
  }
}
@mixin quickmenu-1920 {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 0;
  ul {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);

    & li {
      font-family: nanum;
      color: #fff;
      width: 110px;
      height: 110px;
      border-radius: 55px;
      background: #291b35;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      margin-right: 30px;
      transition: all 0.3s;
      &:last-child {
        background: #7b00a0;
      }
      &:hover {
        background: #7b00a0;
      }
      & a {
        text-align: center;
        & .quick-tit {
          font-size: 0.875rem;
          margin-bottom: 4px;
        }
        & .quick-tel {
          text-align: center;
          font-size: 1.25rem;
        }
      }
    }
  }
}
@mixin quickmenu-1500 {
  ul {
    img {
      width: 20px;
      height: 20px;
    }
    & li {
      width: 80px;
      height: 80px;
      & a {
        & .quick-tit {
          font-size: 0.75rem;
        }
        & .quick-tel {
          font-size: 1.0625rem;
        }
      }
    }
  }
}
@mixin footer-1920 {
  position: relative;
  width: 100%;
  height: 426px;
  background: #2c0039;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  bottom: 0;
  left: 0;
  &::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top: 39%;
    background: #ccc;
  }
  #footer-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    #footer-container-wrap {
      width: 1360px;
      #footer-container-top {
        position: absolute;
        width: 100%;
        max-width: 1360px;
        height: 55px;
        display: flex;
        top: 13.2%;
        justify-content: space-between;
        .footer-logo {
          width: 220.5px;
          height: 38.25px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .footer-info {
          font-family: suitM;
          display: flex;
          color: #fff;
          font-size: 1.125rem;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          p {
            margin-right: 16px;
          }
        }
        .footer-sns {
          img {
            transition: all 0.3s;
            margin-right: 5px;
            &:hover {
              filter: grayscale(100%);
            }
          }
        }
      }
      #footer-container-bottom {
        display: flex;
        width: 100%;
        max-width: 1360px;
        height: 146px;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 47.5233%;
        .footer-tel {
          font-family: geometos;
          font-size: 1.875rem;
          color: #ff5b28;
          p {
            display: flex;
            align-items: center;
            margin-bottom: 9px;
            & span {
              margin-right: 10px;
              font-size: 1.125rem;
              font-family: suitL;
              color: #fff;
            }
          }
        }
        .footer-text {
          & .footer-text-middle {
            display: flex;
            & p {
              margin-right: 10px;
            }
          }
          & .footer-text-end {
            margin-top: 20px;
          }
          p {
            margin-bottom: 4px;
            font-family: suitL;
            color: #ccc;
            font-size: 1.125rem;
            & span {
              font-family: suitM;
              color: #fff;
              font-size: 1.125rem;
              margin-right: 20px;
            }
          }
        }
        .footer-icon {
          width: 122.75px;
          height: 49px;
          border-radius: 35px;
          background: #ff5b28;
          & a {
            display: flex;
            justify-content: center;
            align-items: center;
            & p {
              font-family: noto500;
              font-weight: bold;
              font-size: 1.125rem;
              color: #fff;
              margin-right: 5px;
            }
            & img {
              width: 26px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
@mixin footer-1024 {
  display: block;

  &::after {
    display: none;
  }
  #footer-wrap {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;

    #footer-container-wrap {
      display: flex;

      #footer-container-top {
        width: 100%;

        .footer-logo {
          img {
            width: 206.72px;
            height: 35.86px;
          }
        }
        .footer-info {
          left: 0;
          top: 116%;
          transform: translate(0%, -100%);
          font-size: 0.9375rem;
        }
        .footer-sns {
          margin-right: 10px;
          img {
            width: 30.39px;
            height: 30.39px;
          }
        }
      }
      #footer-container-bottom {
        top: 37%;

        width: 100%;
        display: block;
        .footer-tel {
          margin-bottom: 20px;
          font-size: 1.875rem;

          p {
            margin-bottom: 10px;

            display: flex;

            font-size: 1.2890625rem;
            & span {
              margin-right: 10px;

              font-size: 0.8203125rem;
              font-family: suitL;
              color: #fff;
            }
          }
        }
        .footer-text {
          & .footer-text-middle {
            margin-bottom: 20px;

            & p {
              margin-right: 10px;
              & span {
                margin-bottom: 2000px;
              }
            }
          }
          & .footer-text-end {
            margin-bottom: 16px;

            & span {
              display: inline-block;
            }
          }
          p {
            margin-bottom: 6px;
            font-size: 0.8203125rem;
            & span {
              display: block;
              font-size: 0.8203125rem;
            }
          }
        }
        .footer-icon {
          width: 120px;
          height: 35px;
          & a {
            & p {
              font-size: 1.0546875rem;
              height: 35px;
              line-height: 35px;
            }
            & img {
              width: 26px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
