@import "../../reset.css";
@import "../../font.css";
@import "../../variables.scss";
@import "../../mixin.scss";

.wrap {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  .message-figuer {
    margin-top: 91px;
    width: 100%;
    height: 510px;
    background: #dcd5e3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .ani {
      animation: start 1.5s ease-out;
      .message-move {
        animation: truck 2.5s infinite;
      }
    }
  }
  .volun-nav {
    @include community-nav;
  }
  .message-container {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .message-article-title {
      width: 1200px;
      height: 283px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 80px;
      .article-title-text {
        height: 100%;
        animation: moveLeft 1s;
        h1 {
          font: 3rem/1.6 "suitSB";
          margin-bottom: 20px;
        }
        p {
          font: 500 1.375rem/1.6 "suitM";
          letter-spacing: -1px;
          span {
            font-family: "suitSB";
            color: map-get($text-color, textp);
            text-decoration: underline;
          }
        }
      }
      .article-title-img {
        animation: moveRight 1s;
      }
    }
    .message-article-how {
      width: 1200px;
      height: auto;
      h1 {
        font: 3rem "suitSB";
        animation: moveLeft 1s;
      }
      .message-how-info {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 240px;
        margin: 50px 0;
        .msg {
          display: flex;
          gap: 34px;
          animation: sizeb 1.5s;
          .msg-volun-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 18px;
            h4 {
              font: 600 1.5rem "suitL";
              color: map-get($text-color, textp);
            }
            p {
              font: 1.125rem "suitL";
              letter-spacing: -1px;
              color: #999;
            }
          }
        }
        .msg:last-child {
          animation-delay: 0.2s;
        }
      }
      p {
        font: 1rem "suitM";
        letter-spacing: -1px;
        color: #666;
        span {
          font: 1rem "suitSB";
          color: #333;
        }
      }
    }
    .message-baner {
      width: 1310px;
      margin: 100px 0 120px;
      .message-banner-title {
        h1 {
          display: inline-block;
          font: 4.5rem "geometos";
          margin-right: 2%;
        }
        img {
          vertical-align: top;
        }
      }
      .msg-banner-direction {
        margin: 5px 0 60px;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
      }
      .message-banner-img {
        border: 1px solid #f00;
        width: 100%;
        height: 368px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sum {
          position: relative;
          &:hover img {
            outline: 4px solid map-get($main-color, puple);
          }
          .sum-img {
            width: 19.6875rem;
            height: 19.6875rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 100% 0 100% 100%;
              transition: all 0.2s;
            }
          }
          .sum-insta {
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 54px;
            height: 53px;
            background: url("../../img/04community/05message/insta-icon.png")
              center/cover no-repeat;
          }
        }
      }
    }
    .message-article-form {
      width: 1200px;
      margin-bottom: 30px;
      color: #333;
      .message-form-text {
        margin-bottom: 5px;
        h5 {
          font: 1.1875rem "suitM";
          margin-bottom: 10px;
        }
        p {
          font: 1rem "noto";
        }
      }
      .message-form-box {
        width: 100%;
        height: 150px;
        padding: 20px;
        margin-bottom: 11px;
        overflow-y: auto;
        border: 1px solid #dedede;
        p {
          font: 0.8125rem "noto";
        }
      }
      .message-checkbox {
        #message-agree {
          width: 19px;
          height: 19px;
          accent-color: map-get($main-color, org);
        }
        label {
          cursor: pointer;
          font: 1.0625rem/20px "noto";
          &:hover #message-agree {
            border-color: #f00;
          }
        }
      }
    }
    .message-article-input {
      width: 1200px;
      .input-name {
        border-top: 1px solid #000;
      }
    }
    .show {
      animation-play-state: paused !important;
    }
  }
}

@keyframes start {
  0% {
    opacity: 0;
    transform: translate(2000px, 0);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes truck {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(8px, 0);
  }
  50% {
    transform: translate(-2px, 1px);
  }
  70% {
    transform: translate(5px, 0);
  }
  80% {
    transform: translate(5px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes sizeb {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
