@import "../../reset.css";
@import "../../font.css";
@import "./reset.css";
@import "./font.css";
html {
  font-size: 16px;
  line-height: 1.6rem;
  font-weight: 400;
}
html .wrap {
  width: 100%;
  height: 100%;
}
html .wrap .volun-figuer {
  margin-top: 91px;
  width: 100%;
  height: 510px;
  background: url("../../img/04community/bg/community-bg.png") center/cover no-repeat;
}
html .wrap .volun-figuer .volun-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  height: 100%;
  color: #fff;
}
html .wrap .volun-figuer .volun-title h1 {
  font: 2.8125rem "geometos";
}
html .wrap .volun-figuer .volun-title p {
  font: 1.125rem "suitL";
}
html .wrap .volun-nav {
  width: 100%;
  height: 68px;
  border-bottom: 1px solid #ddd;
}
html .wrap .volun-nav .volun-bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
html .wrap .volun-nav .volun-bar ul {
  display: flex;
}
html .wrap .volun-nav .volun-bar ul li a {
  display: block;
  padding: 18px 28px 24px;
  font: 1.125rem "suitM";
  border-bottom: 2.5px solid transparent;
}
html .wrap .volun-nav .volun-bar ul li a:hover {
  transform: translateY(-1px);
  color: #780997;
  border-bottom: 2.5px solid #780997;
}
html .wrap .volun-nav .volun-bar ul .active {
  transform: translateY(-1px);
  color: #780997;
  border-bottom: 2.5px solid #780997;
}
html .wrap .container {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}
html .wrap .container .volun-article {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}
html .wrap .container .volun-article .volun-article-title {
  margin-bottom: 20px;
}
html .wrap .container .volun-article .volun-article-title h1 {
  font: 2.8125rem "noto";
}
html .wrap .container .volun-article .volun-article-title h1 span {
  font: bold 3rem "noto";
  color: #7b00a0;
}
html .wrap .container .volun-article .volun-img {
  margin-bottom: 34px;
  width: 100%;
  height: 302px;
  overflow: hidden;
}
html .wrap .container .volun-article .volun-img span {
  display: inline-block;
  width: 32.7%;
  height: 100%;
  overflow: hidden;
}
html .wrap .container .volun-article .volun-img span img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
html .wrap .container .volun-article .volun-img span img:hover {
  transform: scale(1.1);
}
html .wrap .container .volun-article .volun-text {
  margin-bottom: 60px;
}
html .wrap .container .volun-article .volun-text h3 {
  font: bold 1.5rem "noto";
  margin-bottom: 25px;
}
html .wrap .container .volun-article .volun-text p {
  font: 1.125rem "noto";
}
html .wrap .container .volun-article .volun-text p span {
  font-weight: bold;
  color: #7b00a0;
  text-decoration: underline;
}
html .wrap .container .volun-article .volun-symbol {
  margin-bottom: 60px;
}
html .wrap .container .volun-article .volun-symbol h1 {
  font: bold 3rem "noto";
  color: #7b00a0;
  margin-bottom: 20px;
}
html .wrap .container .volun-article .volun-symbol p {
  margin-top: 19px;
  font: light 1.125rem "noto";
}
html .wrap .container .volun-article .volun-list ul {
  display: flex;
  gap: 10px;
}
html .wrap .container .volun-article .volun-list ul li {
  width: 24.7%;
}
html .wrap .container .volun-article .volun-list ul li a {
  display: inline-block;
  width: 100%;
}
html .wrap .container .volun-article .volun-list ul li a span {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 295px;
}
html .wrap .container .volun-article .volun-list ul li a span img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  -o-object-fit: cover;
     object-fit: cover;
}
html .wrap .container .volun-article .volun-list ul li a span img:hover {
  transform: scale(1.1);
}
html .wrap .container .volun-article .volun-list ul li a h5 {
  width: 100%;
  height: 25px;
  font: 500 1rem "noto";
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 20px 0 5px;
}
html .wrap .container .volun-article .volun-list ul li a p {
  font: 0.9rem "noto";
  color: #999;
}
html .wrap .container .volun-article .volun-list ul li a:hover h5 {
  color: #7b00a0;
}/*# sourceMappingURL=volunteer.css.map */