@import "../../reset.css";
@import "../../font.css";
@import "../../variables.scss";
@import "../../mixin.scss";

body {
  font-size: 16px;
  line-height: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
  .wrap {
    width: 100%;
    height: 100%;
    .volun-figuer {
      @include community-figuer;
    }
    .volun-nav {
      @include community-nav;
    }
    .container {
      width: 100%;
      height: 100%;
      padding-top: 100px;
      .volun-article {
        margin: 0 auto;
        width: 1200px;
        height: 100%;
        .volun-article-title {
          margin-bottom: 20px;
          h1 {
            span {
              font: bold 3rem "noto";
              color: map-get($text-color, textp);
            }
            font: 2.8125rem "noto";
          }
        }
        .volun-img {
          margin-bottom: 34px;
          width: 100%;
          height: 302px;
          overflow: hidden;
          display: flex;
          gap: 7px;
          span {
            display: inline-block;
            width: 32.7%;
            height: 100%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              transition: all 0.3s;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
        .volun-text {
          margin-bottom: 60px;
          h3 {
            font: bold 1.5rem "noto";
            margin-bottom: 25px;
          }
          p {
            font: 1.125rem "noto";
            span {
              font-weight: bold;
              color: map-get($text-color, textp);
              text-decoration: underline;
            }
          }
        }
        .volun-symbol {
          margin-bottom: 60px;
          h1 {
            font: bold 3rem "noto";
            color: map-get($text-color, textp);
            margin-bottom: 20px;
          }
          p {
            margin-top: 19px;
            font: light 1.125rem "noto";
          }
        }
        .volun-list {
          margin-bottom: 80px;
          width: 100%;
          height: auto;
          ul {
            width: 100%;
            height: 100%;
            display: flex;
            gap: 10px;
            li {
              width: 24.4%;
              height: 100%;
              a {
                display: inline-block;
                width: 100%;
                height: 100%;
                span {
                  display: inline-block;
                  overflow: hidden;
                  width: 100%;
                  height: 295px;
                  img {
                    width: 100%;
                    height: 100%;
                    transition: all 0.3s;
                    object-fit: cover;
                    &:hover {
                      transform: scale(1.1);
                    }
                  }
                }
                h5 {
                  width: 100%;
                  height: 25px;
                  font: 500 1rem "noto";
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  margin: 20px 0 5px;
                }
                p {
                  font: 0.9rem "noto";
                  color: #999;
                }
                &:hover {
                  h5 {
                    color: map-get($text-color, textp);
                  }
                }
                &:hover span {
                  border: 2px solid map-get($main-color, puple);
                }
              }
            }
          }
        }
        .volun-pages {
          width: 100%;
          height: 34px;
          margin-bottom: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;
          .prevent-next {
            width: 28px;
            height: 28px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .page {
            width: 28px;
            height: 28px;
            text-align: center;
            border: 1px solid #000;
            font: 1rem "noto";
          }
        }
        .volun-search {
          width: 100%;
          height: 82px;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          margin-bottom: 150px;
          form {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            #find {
              width: 8.3%;
              height: 40px;
              border: 1px solid #ddd;
              outline: none;
              font: 1rem "noto";
            }
            .search {
              width: 20%;
              height: 40px;
              border: 1px solid #ddd;
              outline: none;
              padding: 0 5px;
              font: 1rem "noto";
            }
            .search-button {
              width: 7.5%;
              height: 40px;
              border: 1px solid #ddd;
              cursor: pointer;
              font: 1rem "noto";
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 13px;
    overflow-x: hidden;
    .wrap {
      width: 100%;
      height: 100%;
      .volun-figuer {
        .volun-title {
          h1 {
            font-size: 1.75rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
      .volun-nav {
        .volun-bar {
          ul {
            white-space: nowrap;
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar-track {
              background: auto;
            }
            &::-webkit-scrollbar-thumb {
              background: auto;
            }
          }
        }
      }
      .container {
        width: 100%;
        height: 100%;
        padding-top: 40px;
        .volun-article {
          width: 100%;
          max-width: 1200px;
          padding: 0 15px;
          .volun-article-title {
            h1 {
              span {
                font-size: 24px;
              }
              font-size: 20px;
            }
          }
          .volun-img {
            width: 100%;
            height: auto;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 50% 50%;
            span {
              width: 100%;
              height: auto;
            }
          }
          .volun-symbol {
            h1 {
              font-size: 24px;
            }
            img {
              margin-left: 50%;
              transform: translateX(-50%);
            }
          }
          .volun-list {
            width: 100%;
            height: auto;
            ul {
              width: 100%;
              max-width: 1200px;
              height: 100%;
              display: grid;
              justify-content: space-between;
              align-items: center;
              grid-template-columns: 49.5% 49.5%;
              li {
                width: 100%;
                height: 100%;
                a {
                  width: 100%;
                  height: 100%;
                  span {
                    width: 100%;
                    height: 100%;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  h5 {
                    font-size: 13px;
                  }
                  p {
                    font-size: 11.7px;
                  }
                }
              }
            }
          }
          .volun-search {
            form {
              #find {
                width: 20.89%;
              }
              .search {
                width: 53.9%;
              }
              .search-button {
                width: 20.89%;
              }
            }
          }
        }
      }
    }
  }
}
